.inner-hero__banner__container {
    margin: 0 auto;
    position: relative;
    -ms-transform: translateY(-50%);    
}
.inner-hero__banner__container_inner {
    margin-top: 60px;
    font-weight: 600;
    height: 10px;
}
.inner-hero__banner__container img {
    margin: 0 auto;
    width: 100%;
}
#tab-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: table;
    background: #00b7eb;
}

.tab-link {
    background: #5c2568;
    color: #fff;  width: 150px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: table-cell;
    padding: 15px 10px;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

a.w3-bar-item.w3-button.current:after{
    text-align: center;
    content: '';
    position: relative;
    top: 27px;
    display: inline-table;
    right: 40px;
    border-top: solid 15px #60276e;
    border-left: solid 10px #ff131300;
    border-right: solid 10px transparent;
}

.tab-content {
    box-shadow: 1px 1px 20px #e0e0e0;
    border: 1px solid #707070;
    background: #ffffff;
    margin-top: 0px!important;
    padding: 40px 0 40px 0;
    max-width: 900px;
    margin: 0 auto;
}

.tabscpe{
    color: #fff;
    margin: 0 auto;
    font-weight: 100;
    max-width: 1000px;
    background-image: url(http://habib.edu.pk/wp-content/themes/habib/css/images/tabs-bg.jpg);
    background-repeat: repeat-x;
    text-align: center;
    margin: 0 auto;
}
.tabscpe a {
    width: 80px;
    text-align: center;
    margin: 0 auto;
}
.tabscpe a:hover {
    color: #eab63a;
}
.tab-content ul > li.tab-bullets
{
    margin-left: 10%;
    line-height: 30px;
	list-style: none;
    background-image: url(https://habib.edu.pk/wp-content/themes/habib/css/images/time.svg);
    background-repeat: no-repeat;
    background-position: left 4px;
    padding-left: 30px;
	color: #62276f;
}
a.w3-button {
    padding-bottom: 30px;
}

.cpesidebar .widget-title {margin-top:15px;}
.cpesidebar .widget-title { background: #949494 !important;}
.cpesidebar .widget-area ul, ul.tb_side {margin-left: 0;padding: 40px 20px 0 0 !important;}
.cpe-lft {
    float: left;
    width: 70%;
    padding: 50px;
}
.cpe-rgt img {
    padding: 12px;
    height: 210px;
}
.cpe-container-bx img {
    padding: 60px;
    float: left;
    vertical-align: middle;
}
.cpe-container-bx {
    position: relative;
    float: left;
    height: 180px;
    width: 490px;
    color: #fff;
    margin: 5px;
}
.cpe-container-bx:hover{
    transition: .1s;
    background: #deceaa;
    box-shadow: 4px 2px 12px 0px rgb(0 0 0 / 45%);
	
}
.cpe-container-bx-v-middle{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 62%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    -ms-transform: translate(-50%, -50%);
    width: 300px;
    line-height: 1.3;
}
.site-info-cpe{
    width: 100%;
    min-height: 62px;
}
.cpe-note-box {
    padding: 30px;
    background: #f7f0e0;
    border: 1px solid #dfca96;
}
.cpe_response_timeline{
    position: absolute;    left: 50%;    transform: translate(-50%, -50%);    font-size: 30px;    color: #5c2568;
}
.cpe-bullets {
  list-style: none;
  padding: 0;
}
.cpe-bullets li {
  padding-left: 1.3em; color: #62276f;
}
.cpe-bullets li:before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #62276f;
}
.prv-btn{
    border: 1px solid #60276c;
    border-radius: 4px;
    border-radius: 8px;
    padding: 4px 20px;
}
.cpe-prv {
    margin-top: 47px;
    margin-left: 10px;
}
#nav_menu-37 {
    padding: 20px;
}
.inner_footercpe{
    max-width: 1000px;
    margin:0 auto;width:100%;
}
.inner_footercpe img {
    float: left;
    margin: 20px 20px 0 0;
}
.footer_right {
    color: #62276f;
    font-size: 12px;
    text-align: right;
    padding-top: 45px;
    padding-right: 20px;
}
#footercpe{
    border-top: 10px solid #62276f;
}
.cpebanner1{
    position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%);    color: #fff; font-size: 38px;
}
.cpebanner2{
     position: absolute;  top: 65%;  left: 50%;  transform: translate(-50%, -50%); font-size: 22px; color: #fff;    font-size: 40px;    font-weight: 600;
}
.banner1inner{
     position: absolute;  top: 42%;  left: 50%; color: #fff; font-size: 32px;
}
.banner2inner{
    position: absolute;  top: 55%;  left: 50%; font-size: 22px; color: #fff; font-size: 50px;    font-weight: 600;
}
.banner_inner_main{
    
}
.footer_left{
    color: #62276f;
    font-size: 12px;
    text-align: left;
    padding-top: 45px;
    padding-right: 20px;
        float: left;
}
.cpeban{
    margin-top: 40px!important; height: 450px; max-width: 1000px;
}
.cpesidebar .widget-title{display: none;}
.w3-bar-item.w3-button.current a{
    color: #eab63a;
}
a.w3-bar-item.w3-button.current{
    color: #eab63a;
}
/*Mobile Media Query*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .cpebanner1 {    width: 100%;    font-size: 20px;    text-align: center;}
    .cpebanner2 {    text-align: center;    font-size: 20px;    width: 100%;    top: 70%;}
    .inner-hero__banner__container_inner {    margin-top: 30px;    height: 30px;}
    .tabscpe{max-width: 80%; background: #5c2568;}
    .footer_right {position: relative;}
    .cpe-rgt img {display: none;}
    .tab-content ul > li.tab-bullets {     margin-left: 0px;}
    .cpe-lft {width: auto; padding: 20px;}
    .footer_right {text-align: center; bottom: 0px;}
    .inner_footercpe{text-align: center;}
    .footer_left{padding: 0; text-align: center; float: none;}
    .inner_footercpe img {    float: none;}
    .cpe_response_timeline {    font-size: 20px;    width: 100%;    text-align: center;}
    .tabscpe {    max-width: initial;}
    .tab-content {    margin-top: 40px!important; width: 99%;     margin: 0 auto;}
    .cpe-container-bx{}
    #wrapper .search{left: 0!important;}
    form#searchform {    display: none;}
    .banner_inner_main{height: 0px;}
    .banner1inner {    top: 30%;    left: 6%;    color: #fff;    font-size: 22px;    text-align: center;}
    .banner2inner {    top: 45%;    left: 30%;    font-size: 22px; font-size: 20px;}
    .inner-hero__banner__container img {    width: auto;    height: 200px;    object-fit: cover;}
    .cpe-container-bx img {    padding: 40px;}
    .cpe-container-bx{float: none;width: auto;}
    .cpe-container-bx-v-middle{font-size: 18px; width: 250px;}
    .inner_header .top_menu {    display: none;}
    .inner_header{height: 300px;}
}