
/* OGE (office of global engagement)
-------------------------------------- */

#main.oge {
}
#main.oge .mw_header_top {
}

.page-template-page-oge-inner .content .menu_item h2 {font-size: 16px}
.mw_oge_menu {
	background: #b01d1d;
	height: 25px;
	padding: 30px 0px 30px 260px;
	background-size: 128px;
	position: relative;
}
.mw_oge_menu1 {
	background: #ede5da;
	height: 45px;
	padding: 14px 0px 30px 260px;
	background-size: 128px;
	position: relative;
}
.mw_oge_menu1 h1 {        margin: 10px 0px; font-size: 26px;    font-weight: 600;}
.mw_oge_menu.mw_oap_menu {
	background: url(images/oap_logo.png) 98% 50% no-repeat #b01d1d;
	padding: 30px 170px 30px 260px;
}
.mw_oge_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mw_oge_menu.mw_oap_menu ul {
	float: right;
}
.mw_oge_menu ul li {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    padding-bottom: 0px;
    border-bottom: 1px #f9b516 solid;
}
.mw_oge_menu ul li a {
	font-size: 13.7px;
	color: #fff;
	text-decoration: none;
	line-height: 24px;
}

.mw_oge_menu ul li.current-menu-item,
.mw_oge_menu ul li:hover {
    border-bottom-color: #ce3333;
}
.mw_oge_menu .ogeMenu > ul > li:last-child {
	padding-right: 0px;}
	/*position: absolute;
    width: 145px;
    right: 0;
    margin: 0;
    top: 19px;
    opacity: 0;
}
.mw_oge_menu .ogeMenu > ul > li:last-child a {
    display: block;
}*/
.mw_oge_menu ul ul {
	display: none;
	min-width: 150px;
    z-index: 9;
    background-color: #b01d1d;
    padding: 10px;
}
.mw_oge_menu ul > li > ul {
	position: absolute;
	left: 0;
	top: 20px;
}
.mw_oge_menu ul > li:hover > ul {
	display: block;
}
.mw_oge_menu ul ul li {
	width: 100%;
	display: block;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    margin-bottom: 6px;
    padding-bottom: 2px;
}
.mw_oge_menu ul ul li:hover {
	border-bottom: 1px dashed rgba(255, 255, 255, 1);
}

.mwSlider {
	width: 998px;
	margin: 20px auto 0;
	border: 1px solid #aeaeae;
}
.ogeSection {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	float: left;
}
.oge_box {
	width: 321px;
	height: 217px;
	float: left;
	margin-top: 20px;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}
/*.oge_box:nth-child(3n+3) {margin: 0 auto;}*/
.oge_box i {
	background-color: rgba(50,12,58,.5);
	position: absolute;
	z-index: 1;
	width: 54px !important;
	height: 20px;
	top: 10px;
	left: 5px;
	font-style: normal;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 11px 0px 11px 30px;
	background-repeat: no-repeat;
	background-position: 10px;
}
.oge_box i.mwNewsIcon {
	background-image: url(../images/icon_visits.png);
}
.oge_box i.mwEventIcon {
	background-image: url(../images/icon_events.png);
	padding: 11px 9px 11px 40px;
}
.oge_box i.mwVisitIcon {
	background-image: url(../images/icon_visits.png);
}
.oge_box h3 {
	font-size: 12px;
	color: #fff;
	background-color: rgba(176,29,29, .98);
	padding: 13px 15px;
	position: absolute;
	bottom: 33px;
	left: 0;
	right: 0;
}
.ogeSection  article.oge_box.oap img {
	transition: all .2s linear;
}
.ogeSection  article.oge_box.oap:hover img {
	transform: scale(1.1);
}

.mw_oge_mid #contentPart {
	margin: 0 auto;
    width: auto;
}
.mw_oge_mid .content p { font-size: 14px; line-height: 24px;}

.mw_oge_mid .content h2
 {
    font-size: 22px;
    color: #b01d1d;
    padding-bottom: 15px;
}
.mw_oge_mid .content li{font-size:15px; line-height: 24px;}
.ogeSection .testimonial {
	width: 100%;
	max-width: 515px;
	float: left;
	padding: 20px 17px 45px 17px;
	background-color: #f8f8f8;
}
.owl-image {
	float: left;
}
.owl-carousel.owl-drag .owl-item .item {
	display: flex;
}


/*-------------------------covi19 page-------------*/
.page-id-259443 .owl-item{width:220px !important;margin:5px;}  

.page-id-259443 .senetor_section_std_affair {border-radius:8px; padding:0px 0px 10px 0px; height:218px;     width: 200px;} 
.page-id-259443 .std_aff_dates {display:none;} 
.page-id-259443 .std_affairs_h2 {padding:10px 0px; text-align: center; font-size: 14px;}

.page-id-259443 .slier_stdlife{width:1300px;} 

.page-id-259443 .slier_stdlife{ padding:0px 0px;width:710px;}

#content_stdaffairs .owl-stage-outer{height:250px !important;}

.page-id-259443 #content_stdaffairs .owl-stage-outer{height:270px !important; max-width: 710px;}
.page-id-259443 .owl-stage-outer{height:270px !important; max-width: 710px;}

/*----------end-----------*/

.ogeSection .testimonial .owl-carousel {
	float: left;
	width: 510px;
	padding-left: 5px;
}
.ogeSection .testimonial .owl-item blockquote {
	font-size: 15px;
    color: #b01d1d;
    font-style: normal;
    padding: 0 16px;
    width: 230px;
    position: relative;
    align-self: center;
    line-height: 22px;
}
.ogeSection .testimonial .owl-item blockquote:before, .ogeSection .testimonial .owl-item blockquote:after {
	content: '';
	background: url(images/blockquote_before.jpg) 0 0 no-repeat;
	width: 14px;
	height: 9px;
	display: none;
	position: absolute;
	left: -18px;
}
.ogeSection .testimonial .owl-item blockquote:after {
	background: url(images/blockquote_after.jpg) 0 0 no-repeat;
	right: 0;
	bottom: 0px;
	left: inherit;
}
.ogeSection .testimonial .owl-item blockquote h5 {
	font-style: italic;
	margin-top: 5px;
}
.owl-nav {
	position: absolute;
	text-align: center;
	margin-top: 10px;
	width: 97%;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
	text-indent: -999px;
	overflow: hidden;
	width: 15px;
	height: 24px;
	position: relative;
	display: inline-block;
	margin: 2px 5px 0;
}
.owl-nav .owl-prev:before, .owl-nav .owl-next:before {
	content: '';
	width: 15px;
	height: 24px;
	background: url(../images/oge_arrow.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
}
.owl-nav .owl-prev:hover:before, .owl-nav .owl-next:hover:before {
	/*background: url(../images/oge_arrow_hover.png) 0 0 no-repeat;*/
}
.owl-nav .owl-next:before {
	content: '';
	transform: rotate(180deg);
}
.oge_cal {
	float: right;
	max-width: 400px;
	width: 100%;
	border: 1px solid #f2eef3;
	height: 170px;
	padding: 15px 17px;
}
.oge_cal h2 {
	background: url(images/icn_cal.jpg) 0 0 no-repeat;
	background-size: 24px;
	text-transform: uppercase;
	color: #b01d1d;
	font-size: 16px;
	line-height: 20px;
	padding: 5px 5px 5px 35px;
	letter-spacing: .5px;
}
.oge_map {
	background-color: #f8f8f8;
}
.custom_spot_map {
	position: relative;
	float: left;
}
.custom_spot_map .cspot {
	position: absolute;
}
.custom_spot_map .cspot .marker {
	background: url(../images/icon_marker.png) center center no-repeat;
	width: 34px;
	height: 44px;
	display: block;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.custom_spot_map .cspot:hover .marker {
	background: url(../images/icon_marker_hover.png) center center no-repeat;
}
.custom_spot_map .cspot .marker:before {
	content: '';
	width: 40px;
	height: 50px;
	background: url(../images/icon_marker.png) center center no-repeat;
	position: absolute;
	margin: -2.5px 0 0 -2.5px;
	display: block;
	background-size: 30px auto;
	opacity: .5;
	animation-name: mymove;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	filter: blur(5px);
}

.custom_spot_map .cspot:hover .marker:before {
	background: none;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
 from {
background-size: 30px auto;
}
 to {
background-size: 33px auto;
}
}

/* Standard syntax */ 
@keyframes mymove {
 from {
background-size: 30px auto;
}
 to {
background-size: 33px auto;
}
}
.custom_spot_map .cspot .tooltip img {
	width: 100%;
}
.custom_spot_map .cspot .tooltip {
	position: absolute;
	background-color: #fff;
	padding: 15px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	vertical-align: middle;
	text-align: center;
	top: -100px;
	left: -37px;
	z-index: 1;
	border: 1px solid #5c2568;
	opacity: 0;
	display: flex;
	align-items: center;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	visibility: hidden;
}
.custom_spot_map .cspot:hover .tooltip {
	top: -103px;
	opacity: 1;
	visibility: visible;
}
.custom_spot_map .cspot:hover .tooltip:before,
.custom_spot_map .cspot:hover .tooltip:after {
	display: none;
}
.custom_map_box {
	float: right;
	width: 322px;
	color: #2a2a2a;
	padding: 35px 20px 15px 10px;
	height: 260px;
	background-color: #f2f2f2;
	position: relative;
}
.custom_map_box:before {
	content: '';
	position: absolute;
	border-top: 155px solid transparent;
	border-bottom: 155px solid transparent;
	border-right: 25px solid #f2f2f2;
	top: 0;
	left: -25px;
}
.custom_map_box h2 {
	background: url(../images/icn_globe.png) 0 0 no-repeat;
	padding: 5px 10px 13px 65px;
	text-transform: uppercase;
	color: #b01d1d;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}
.custom_map_box p:empty {
	display: none;
}

/*OGE Graph*/
.oge_fsection {
	background-color: #f8f8f8;
	padding: 3%;
	width: 94%;
	margin-bottom: 0;
	display: none;
}
.oge_fbox {
	float: left;
	color: #2a2a2a;
	font-size: 13px;
	line-height: 16px;
}
.oge_fbox:nth-child(even) {
	float: right;
}
.oge_fbox p:empty {
	display: none;
}
.oge_fbox p {
	margin: 0;
}
.oge_fbox h2 {
	font-family: Times, "Times New Roman", "serif";
	font-size: 66px;
	color: #5c2568;
	font-weight: 600;
	font-style: italic;
	line-height: 64px;
}
.oge_fbox h3 {
	color: #5c2568;
	font-size: 16px;
	line-height: 20px;
	margin: 6px 0;
}
.oge_fbox h4 {
	color: #5c2568;
	font-size: 12px;
	margin-bottom: 10px;
}
.oge_fbox a {
	color: #5c2568;
	font-size: 12px;
	font-weight: 600;
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #5c2568;
}
.oge_state {
	width: 100%;
	float: left;
}
.oge_state .state {
	width: 55%;
	float: left;
}
.oge_state .state:nth-child(2) {
	width: 25%;
}
.oge_state .state:nth-child(3) {
	width: 20%;
}
.oge_state .state hr {
	background-color: #790000;
	height: 50px;
	margin-bottom: 5px;
}
.oge_state .state:nth-child(2) hr {
	background-color: #003471;
}

.oge_state .state:nth-child(3) hr {
	background-color: #d1ac46;
}
.oge_state h4 {
	font-size: 16px;
	font-weight: normal;
	color: #5c2568;
	text-shadow: 1px 0px 0px #5c2568;
}
.oge_state h3 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}
.ftr_oge_p {
	color: #5f5f5f;
	font-style: italic;
	width: 96%;
	float: left;
	padding: 15px 2%;
	border: 1px solid #ece7ed;
	margin-top: 20px;
}
.oge_banner {
	margin-top: 14px;
	min-height: 170px;
	position: relative;
}
.oge_banner img {
	position: absolute;
	width: 100%;
	    opacity: 0.9;
}
.oge_banner .rev_slider_wrapper {
    margin-bottom: -55px !important;
}
.oge_banner h1 {
	position: relative;
	z-index: 1;
	color: #fff;
	line-height: 40px;
	padding-top: 110px;
	padding-left: 30px;
	font-size: 26px;
	font-weight: bold;
    text-shadow: 3px 0px 7px #000000;
}
.oge_banner.oap_banner h1 {
	color: #5c2568;
	text-transform: uppercase;
}
.mw_oge_mid.innerpage #contentPart {
	padding: 20px;
	max-width: calc(1000px - 42px);
	border: 1px solid #e4e0e6;
	margin-top: -15px;
	overflow: visible;
	display: flex;
}
.mw_oge_mid.innerpage #contentPart:after {
	display: none;
}
.mw_oge_mid .content {
	padding: 0;
	width: 100%;
	max-width: 670px;
}
.mw_oge_mid .content h3 {
	color: #b01d1d;
	font-weight: bold;
	margin-bottom: 8px;
	font-size: 16px;
	text-shadow: 1px 0px 0px #680c0c;
	letter-spacing: .5px;
}
.page-template-page-oap-inner .mw_oge_mid .content h3 {
	color: #5c2568;
}
.ogeList {
	list-style: none;
	margin: 0;
}
.ogeList li {
	position: relative;
	display: block;
	padding-left: 30px;
	line-height: 20px;
	color: #000;
}
.ogeList li:before {
	position: absolute;
	left: 5px;
	color: #000;
	font-size: 16px;
}
.ogeList li.fa.fa-mobile:before {
	left: 8px;
	font-size: 20px;
}
.ogeList li.fa.fa-map-marker:before {
	left: 6px;
	font-size: 18px;
}
.ogeList li a, .ogeList li span, .ogeList li strong {
	font-family: 'Open Sans';
	color: #000;
	text-decoration: none;
}
.ogeList li a {
	font-size: 15px;
}
.mw_oge_mid #primary {
	width: 100%;
	max-width: 267px;
	position: relative;
	background-color: #f9f9f9;
	clear: none;
	margin-top: -80px;
	margin-left: 20px;
	padding: 15px 15px 70px 15px;
	z-index: 2;
}
.mw_oge_mid #primary:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 15px;
	background: url(images/timingBorder.jpg) 0 0 repeat;
}
.mw_oge_mid #primary:after {
	content: '';
	border-left: 149px solid #fff;
	border-right: 148px solid #fff;
	border-top: 50px solid #f9f9f9;
	position: absolute;
	bottom: 0;
	left: 0;
}
.mw_oge_mid #primary.oap-widgets {
    margin-top: -120px;
}

.mw_oge_mid #primary .widget-title {
	margin-top: 20px;
	background: none;
	color: #b01d1d;
}
.mw_oge_mid #primary .oge-cal .widget-title {
	background: url(images/icn_cal.jpg) 5px 6px no-repeat;
    padding-left: 40px;
    background-size: 22px auto;
}
.mw_oge_mid #primary.oap-widgets .oapRandBox {
	position: relative;
	float: left;
    padding-bottom: 30px;
    margin-top: 20px;
}
.mw_oge_mid #primary.oap-widgets .oapRandBox + .oapRandBox {
	
}
.mw_oge_mid #primary.oap-widgets .oapRandBox img {
	width: 100%;
	float: left;
}
.mw_oge_mid #primary.oap-widgets .oapRandBox a {
    width: calc(100% - 16px);
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #b01d1d;
    color: #fff;
}
.mw_oge_mid #primary.oap-widgets .oapRandBox a:hover {
	text-decoration: none;
}

.oge_cal ul {
	list-style: none;
	margin: 0;
}
.oge_cal ul, .mw_oge_mid #primary ul {
	padding: 20px 0 0;
}
.oge_cal ul li, .mw_oge_mid #primary ul li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 15px;
}
.oge_cal ul li:before, .mw_oge_mid #primary ul li:before {
	content: '';
	width: 7px;
	height: 7px;
	background-color: #b01d1d;
	position: absolute;
	top: 6px;
	left: 3px;
}
.oge_cal ul li a, .mw_oge_mid #primary ul li a {
	color: #2a2929;
	text-decoration: none;
}
.oge_cal ul li a:hover, .oge_cal ul li a:focus, .mw_oge_mid #primary ul li a:hover, .mw_oge_mid #primary ul li a:focus {
	color: rgba(42,41,41,.80);
	text-decoration: none;
}
.mw_oge_mid #primary .oge_box {
	width: auto;
	margin: 0;
	height: auto;
}
.mw_oge_mid #primary .oge_box a {
	color: #2a2929;
}
.mw_oge_mid #primary.oap-widgets .oge_box i {
	background-image: url(images/oap_news_icon.png);
	color: #5c2568;
}
.mw_oge_mid #primary .oge_box i {
	position: initial;
	background-color: transparent;
	color: #b01d1d;
	display: block;
	font-size: 20px;
	background-image: url(images/ogebar_news_icon.jpg);
	padding:10px;
	background-repeat: no-repeat;
	background-position: 8px 6px;
}
.mw_oge_mid #primary .oge_box img {
	position: relative;
	width: 100%;
	min-width: auto;
}
.mw_oge_mid #primary .oge_box h3 {
    color: #ffffff;
    background-color: rgba(176,29,29,.98);
    position: relative;
    padding: 10px;
    font-size: 13px;
}
#home_popup {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
}
.popup_container {
	width: 758px;
	height: 190px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid rgba(67, 4, 83, 0.9);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px rgba(67, 4, 83, 0.9);
}
.popup_container span {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	color: #5b2867;
	cursor: pointer;
}
.popup_notification {
	background: url(images/popup_bell.png) left center no-repeat;
	font-size: 18px;
	color: #430453;
	line-height: 26px;
	padding-left: 70px;
	margin-top: 70px;
	margin-left: 20px;
}

#contentPart.oap_inner {

}

.page-template-page-oap-inner .mw_oge_mid.innerpage .oge_banner {
	border: 1px solid #e4e0e6;
	border-bottom: 0 none;
}
.page-template-page-oap-inner .mw_oge_mid.innerpage .oge_banner.oap_slider {
	height: 320px;
}
.page-template-page-oap-inner .mw_oge_mid.innerpage #contentPart {
	border-top: 0 none;
    max-width: calc(1000px - 40px);
    padding-top: 0;
    align-items: flex-start;
}
.page-template-page-oap-inner .mw_oge_mid.innerpage .oge_banner.oap_slider + .inner_wraper {
	margin-top: 0;
}

.page-template-page-oap-inner .mw_oge_mid.innerpage #contentPart .content {

}
.page-template-page-oap-inner .mw_oge_mid.innerpage #contentPart #primary {

}

.mw_oge_mid #primary.oap-widgets .widget_nav_menu {

}
.mw_oge_mid #primary.oap-widgets br {
	display: none;
}
.mw_oge_mid #primary.oap-widgets .widget_nav_menu .widget-title {
	color: #5c2568;
}
.mw_oge_mid #primary.oap-widgets ul li {
	border-bottom: 1px solid #efeeef;
	padding-bottom: 10px;
}
.mw_oge_mid #primary.oap-widgets ul li:before {
	display: none;;
}
.mw_oge_mid #primary.oap-widgets ul li a {
	font-size: 14px;
	color: #2a2929;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
        	.mw_oge_mid.innerpage #contentPart {display:block;}
            .mw_oge_mid #primary{padding: 0px;margin-top: 10px;}
               .mw_oge_menu{
                    background: #b01d1d;
                    height: 55px;
                    padding: 10px 0px 30px 10px;
                    background-size: 128px;
                    position: relative;
                    }
               .mw_oge_menu1{
                    background: #ede5da;
                    height: auto;
					padding: 10px 10px 10px 10px;
                    background-size: 128px;
                    position: relative;
                    }
            .custom_map_box {float: left;width: auto;}
            .custom_spot_map img{height: 160px;}
            .slotholder {height: 100%!important;}
            .oge_box a img{width: 360px;}
            .mw_oge_menu.mw_oap_menu {padding: 5px 0 5px 0;}
        	.mwSlider {width: 100% !important;}
        	.oge_box {width:auto; margin: 0 auto;  float: none;}
            #contentPart {margin: 0 auto;width: 80%;}
        	.owl-carousel.owl-drag .owl-item .item {display: block;}
        	.ogeSection .testimonial {height:300px; width: auto;float: left;padding:6px 0px 0px 3%;}
        	.owl-image {float: left; width: 320px;}
            .oge_cal {max-width: 400px;width: auto;border: 1px solid #f2eef3;height: 80px;padding: 15px 17px;}
        	.ogeSection .testimonial .owl-item blockquote {width: 300px;}
            .ogeSection {margin: 0px;}
        	.owl-nav {width: 100%;}	
}