

@media (max-width:1367px) {
    .menu_item img {
        width: 100% !important;
    }
    
}

@media (max-width:1200px) {
   /* Library */
    .page-template-page-library-main .mw_library_mid .menu_item img {
        width: 100%;
    }
   /* Library */

    /* Academics Page */
    .page-template-page-academics-center .row.majors li a {
        color: black;
        display: flex;
    }
    /* Academics Page */

}
@media (max-width:993px) {
   /* Library */
   .page-template-page-library-main #library_lftrth {
        display: flex;
    }
    .footer_right {
        padding-top: 65px;
    }
    .page-template-page-library-inner-php form#searchform {
        margin: 0px 0 0;
    }
    .page-template-page-library-inner-php .mw_library_menu {
        padding: 30px 0px 30px 16px;
    }
   /* Library */

    /* Office of Registrar */
    #post-9403 .link_images .menu_item {
        max-width: 100% !important;
    }
    #post-9403 .link_images {
        width: 100%;
    }
    /* Office of Registrar */


    /* Humanitis and Social Science */
    .link_images .menu_item h2{
        width: 100% !important;
    }
    .link_images .menu_item img{
        width: 100% !important;
    }
    /* Humanitis and Social Science */


    /* Academic Affairs */
    .page-template-page-academic-affairs .dean {
        width: 100% !important;
    }
    .page-template-page-academic-affairs .assistant-dean > div {
        width: 100% !important;
    }
    .page-template-page-academic-affairs .poffice_header_bottom .po_menu > .menu > li {
        padding: 3px !important;
        padding-right: 15px !important;
    }
    .page-template-page-academic-affairs .poffice_header_bottom .po_menu > .menu > li a {
        font-size: 13px !important;
    }
    .page-template-page-academic-affairs .left-panel-oaf {
        width: 48%;
    }
    /* Academic Affairs */

    /* Academics Page */
    .page-template-page-academics-center .oafbox_content h3 {
        font-size: 13px !important;
    }
    .page-template-page-academics-center h2 {
        padding-bottom: 15px;
    }
    .page-template-page-academics-center .footer_right {
        font-size: 10px;
        padding-right: 20px !important;
    }
    .page-template-page-academics-center .mbl_logo {
        width: 80%;
        margin-left: 0;
    }
    /* Academics Page */
    

    /* Library Page */
    .page-template-page-library-main-php .web_logo ,.page-template-page-library-inner .web_logo {
        width: 45%;
    }
    .page-template-page-library-main-php #menu-top-mega-menu-1 li,.page-template-page-library-inner #menu-top-mega-menu-1 li {
        padding: 0 2px 0 4px;
    }
    .page-template-page-library-main-php #menu-top-mega-menu-1 li:first-child, .page-template-page-library-inner #menu-top-mega-menu-1 li:first-child {
        padding-right: 4px;
    }
    .page-template-page-library-main-php form#searchform {
        margin-top: 0;
    }
    .page-template-page-library-main-php .mw_library_menu {
        padding: 30px 0px 30px 57px;
    }
    .page-template-page-library-main-php .mw_library_mid .menu_item.col4 {
        width: 31.5%;
        max-width: 31.5%;
    }
      /* Giving Page */
        .page-id-263649 .giving-side-banners{
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .page-id-263649 .giving-side-banners div{
            margin: 0 !important;
        }
        .page-id-263649 .giving-side-box:nth-child(2),
        .page-id-263649 .giving-side-box:nth-child(3) {
            margin-left: 10px !important;
        }
        .page-id-263649 #primary2 {
            min-height: auto;
        }
      
        /* Header Giving */
        .page-id-263649 .top_menu ul {
            margin-right: 0;
        }
        .page-id-263649 form#searchform {
            margin: -5px 6px 0 !important;
        }
        .page-id-263649 .web_logo {
            display: block;
            width: 44%;
        }
        .page-id-263649 #content {
            padding: 2em 3% 0px;
        }
        .page-id-263649 #menu-top-mega-menu-1 li:first-child {
            padding: 0px;
            padding-right: 4px;
        }
        .page-id-263649 #menu-top-mega-menu-1 li {
            background: none;
            float: left;
            padding: 0 2px 0 4px;
        }
        /* Header Giving */

    /* Giving Page */

}


@media  (max-width:768px) {
    /* Library & Academic Support */
    #container.mw_library_inner #primary:after{
        display: none;
    }
    .page-template-page-library-inner .mw_library_menu {
        padding: 30px 0px 30px 20px !important;
    }
    /* Library & Academic Support */


    /* Dhanani School of science */
    .page-id-1018 iframe {
        width: 100%;
    }
    .page-id-1018 form#searchform {
        margin-top: 0;
    }
   .page-template-page-wicse-center .arconix-list {
            width: 42%;
        }
    .page-template-page-wicse-center .box_list.wicse {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Dhanani School of science */

    /* Academic Center */
        .page-template-page-arzu-center .arconix-list {
            width: 23%;
        }
        .page-template-page-arzu-center div#text-17 {
            width: 56%;
        }
    /* Academic Center */

    /* Faculty */
    
    .page-id-892 .web_logo {
        width: 150px;
    }
    .page-id-892 #content {
        padding: 4em 3% 0px;
    }
    
    /* Faculty */

    /* Libral Core  */
    .page-template-page-liberal-core-center #primary_lc_sidebar {
        display: none;
    }
    .page-template-page-liberal-core-center .col-sm-9 h5 {
        margin-bottom: 15px;
    }
    .page-template-page-liberal-core-center #main {
        margin-top: 70px !important;
    }
    .page-template-page-library-inner .mw_library_inner{
        display: flex;
        flex-direction: column;
    }
    /* Libral Core  */

    /* Dhanani School of Science and Engineering */
    #primary2 .newside p {
        text-align: left !important;
        font-size: 13px;
        line-height: 15px;
    }
    #primary2 li {
        display: flex;
        margin-bottom: 10px;
    }
    .page-id-848 #content {
        padding: 6em 3% 0px;
    }
    .page-template-page-library-inner .web_logo {
        width: 110px;
    }
    /* Dhanani School of Science and Engineering */


    /* Library */
    .page-template-page-library-main .library_timing h3 {
        font-size: 16px;
    }
    .library_lft .top.attached.tabular a {
        padding: 7px 0 7px;
        font-size: 12px;
        line-height: 15px;
    }
    .page-template-page-library-main #catlogSearch aside.csRight, #scholarbounce aside.csRight {
        display: flex;
        align-items: center;
    }
    .page-template-page-library-main .mw_library_menu {
        padding: 20px 0px 20px 177px;
    }
    .page-template-page-library-main .logo img {
        width: 59%;
    }
    /* Library */

    /* Humanitis and Social Science */
    
    .link_images {
        width: 100% !important;
    }
    .link_images .menu_item h2{
        width: 100% !important;
    }
    .link_images .menu_item img{
        width: 100% !important;
    }
    .post-844 .entry-content iframe {
        width: 100%;
        height: auto;
    }
    .page-id-844 #content .entry-title {
        margin-top: 30px;
    }
    .page-id-886 #content .entry-title {
        margin-top: 30px;
    }
    /* Humanitis and Social Science */



    /* Academic Affairs */
    .inner_header.poffice {
        display: flex;
    }
    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
        position: initial !important;
    }
    /* .page-template-page-academic-affairs .associate-dean-3 {
        width: 49% !important;
        height: 320px !important;
    } */
    .page-template-page-academic-affairs .become h1 {
        font-size: 26px;
        text-align: center;
        line-height: 26px;
    }
    
    .page-template-page-academic-affairs .oaf_content h2 {
        font-size: 16px;
    }
    .page-template-page-academic-affairs .left-panel-oaf {
        width: 99%;
    }
    .page-template-page-academic-affairs .left-panel-oaf p {
        margin-bottom: 10px;
    }
    .page-template-page-academic-affairs .left-panel-oaf h3 {
        font-size: 15px;
    }

   .page-template-page-academic-affairs .become-points>ul>li {
        margin-top: 8px!important;
        font-size: 15px;
    }
    .page-template-page-academic-affairs .mentorsarea h1 {
        font-weight: 700;
        font-size: 25px;
        line-height: 27px;
        text-align: left;
    }
    .page-template-page-academic-affairs .dhanani h1:after {
        top: 106%;
    }
    .page-template-page-academic-affairs .jumbotron h2 {
        font-size: 20px;
    } 
    .page-template-page-academic-affairs .poffice_header_bottom {
        padding: 10px 0;
    }
    .page-id-881 .inner_header .logo {
        margin-left: 28px !important;
    }
    .page-id-881 .web_logo {
        width: 150px;
    }
    .page-id-881 #content {
        padding: 4em 3% 0px;
    }
    .page-template-page-liberal-core-center .wc_content_lc .row {
        margin: 0 !important;
    }
    .page-template-page-liberal-core-center .wc_content_lc .row .heading-h1 {
        font-size: 24px;
        margin: 0;
    }
    .page-template-page-liberal-core-center .col-sm-9 h5 {
        font-size: 17px;
    }
    .page-template-page-liberal-core-center .col-sm-9 br {
        display: none;
    }
    .page-template-page-liberal-core-center .wc_content_lc .row .col-sm-9 {
        padding: 0 !important;
    }
    .selector_mbl_lc .row {
        margin: 0 !important;
    }
    .page-template-page-liberal-core-center .lft-circle, .rgt-circle {
        background: #5c2568;
        width: 100% !important;
        margin-bottom: 15px;
    }
    .page-template-page-liberal-core-center .selector_circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 17px 0;
        margin: 0;
        width: 100%;
    }
    .page-template-page-liberal-core-center .selector_circle p {
        color: #fff;
    }
    .page-template-page-liberal-core-center .selector_mbl_lc > .container, .page-template-page-liberal-core-center .selector_mbl_lc > .container > .row, .page-template-page-liberal-core-center .selector_mbl_lc > .container > .row a {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .page-template-page-liberal-core-center .web_logo {
        width: 131px;
    }
    /* Academic Affairs */

    
    /* Academics Page */
    .page-template-page-academics-center .col-sm-6 {
        padding-right: 0 !important;
    }
    .page-template-page-academics-center .row.majors li a {
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .page-template-page-academics-center .row.majors li span img {
        width: 33px;
    }
    .page-template-page-academics-center .majors, .minors {
        font-size: 16px;
    }
    .page-template-page-academics-center .mbl_logo {
        margin-left: 0;
        width: 57%;
    }
    .page-template-page-academics-center .uni-logo {
        width: 100px;
    }
    /* Academics Page */

    /* Giving Page */
    .page-id-263649 .newside {
        display: flex;
        justify-content: center;
    }
    .page-id-263649 .giving-side-banners{
        display: block;
    }

        /* Giving Header */
        .page-id-263649 form#searchform {
            margin: 5px 6px 0 !important;
        }
        /* Giving Header */

    /* Giving Page */


    
}

@media (max-width:576px) {
    .mw_library_menu ul li {
        display: inline;
    }
    .cst-m100-menu-child a {
        padding: 10px 5px 10px 15px;
    }
    .cst-m-menu-child {
        height: auto !important;
        padding: 10px 0px !important;
    }
    /* Dhnani  */
   .page-template-page-wicse-center .arconix-list {
        width: 100%;
    }
    .page-template-page-wicse-center .box_list.wicse {
        flex-wrap: wrap;
    }
    .page-template-page-wicse-center .mw_arzu_tag h3 {
        text-align: center;
    }
    /* Academic Center */
        .page-template-page-arzu-center div#text-17 {
            height: 60px;
        }
        .page-template-page-arzu-center .arconix-list {
            width: 49%;
        }
    /* Academic Center */

     /* Faculty */
     .page-id-892 .logo img {
        width: 41%;
    }
    .page-id-892 #content {
        padding: 3em 3% 0px;
    }
    .page-id-892 .facInBox {
        width: 48%;
    }
    .page-id-1024 .facInBox {
        width: 48%;
    }
     /* Faculty */

    /* Dhanani School of Science and Engineering */
    .post-848 .entry-content iframe {
        width: 100%;
        height: 220px;
    }
    .post-848 .entry-title {
        font-size: 17px !important;
    }
    #primary2 .newside p {
        text-align: left !important;
        font-size: 13px;
        line-height: 15px;
    }
    #primary2 li {
        display: flex;
        margin-bottom: 10px;
    }
    .page-id-848 .logo img {
        width: 30%;
    }
    .page-id-848 #content {
        padding: 1em 3% 0px;
    }
    .page-id-848 #main {
        margin-top: 40px!important;
    }
        /* header */
    .page-id-848  #header {
        z-index: 99999;
        height: 0;
    }
    .page-id-848 .vav_wrap {
        margin-top: 0 !important;
    }
    .page-id-848 .inner_header {
        height: 44px;
    }
    .page-id-848 .inner_wrap {
        height: 70px;
    }
        /* header */

    /* Dhanani School of Science and Engineering */
    
    .page-template-page-library-inner .logo img {
        width: 30%;
    }
     /* Library */
     .page-template-page-library-main #library_lftrth {
        display: block;
    }
    .page-template-page-library-main .library_lft {
        width: 100%;
        
    padding: 40px 0 !important;height: auto !important;}
    .page-template-page-library-main .logo img {
        width: 30% !important;
    }
    .page-template-page-library-main .ff_link_images .menu_item {
        max-width: 100% !important;
    }
    .page-template-page-library-main #catlogSearch div {
        display: flex;
        justify-content: space-between;
    }
    .page-template-page-library-main #catlogSearch aside.csRight, #scholarbounce aside.csRight {
        display: flex;
    }
    .page-template-page-library-main #catlogSearch {
        margin-top: 15px;
        padding: 0 9px;
    }
    .page-template-page-library-inner-php #container.mw_library_inner .menu_item.col2 {
        width: 100% !important;
    }
    /* .page-template-page-library-main .library_lft, .library_rth {
        height: 170px!important;
    } */
    .page-template-page-library-main .library_timing h3 {
        font-size: 15px;
        line-height: 17px;
    }
    .library_timing h3 {
        font-size: 15px;
    }
    /* Library */

      /* Academic Affairs */
    .page-template-page-academic-affairs .inner_header.poffice .mstopRight {
        width: auto;
    }
    .page-template-page-academic-affairs #wrapper #po_searchform input[type="submit"] {
        width: 18% !important;
    }
    #wrapper #po_searchform input[type="submit"] { 
        width: 17%;
    }
    .inner_header.poffice .logo {
        width: 50%;
    }
    .page-template-page-academic-affairs .quickLinkBox {
        top: 39px !important;
    }
    .page-template-page-academic-affairs .menu-toggle-button {
        position: initial !important;
    }
    .page-template-page-academic-affairs .inner_header.poffice {
        max-width: 100% !important;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .page-template-page-academic-affairs .oafpageboxes .oafpageboxescontent {
        display: flex;
        flex-wrap: wrap;
    }
    .page-template-page-academic-affairs .oafpageboxes article {
        width: 48.7%;
    }
    .page-template-page-academic-affairs .assistant-dean div {
        width: 100% !important;
    }
    .page-template-page-academic-affairs .headings {
        clear: both;
        padding: 20px 20px 20px 0px;
        font-size: 18px;
        font-weight: bold;
    }
    .page-template-page-academic-affairs .associate-dean-3 {
        min-height: 230px !important;
    }
    .page-template-page-academic-affairs .assistant-dean div {
        width: 100% !important;
        margin: 0;
    }
    .dean {
        width: 100% !important;
    }
    .associate-dean-3{
        width: 100% !important;
    }
    .page-id-881 #main {
        margin-top: 110px!important;
    }
    .page-id-881 #content .entry-title {
        font-size: 20px;
    }
    .page-id-881 #primary2 {
        width: 100%;
    }
    .page-id-881 .logo img {
        width: 36%; 
    }
    .page-id-881 #content {
        padding: 1em 3% 0px;
    }
    
    .page-template-page-liberal-core-center .logo img {
        width: 32%;
    }
      /* Academic Affairs */

    /* Academics Page */
    .page-template-page-academics-center .wc_section_academics {
        display: none;
    }
    .page-template-page-academics-center .col-sm-6.rgt-circle, .col-sm-6.lft-circle {
        float: left;
        width: 50%;
        padding-right: 0 !important;
        background-color: #5c2568;
        margin-bottom: 10px;
    }
    .col-sm-6.rgt-circle, .col-sm-6.lft-circle {
        width: 100%!important;
    }
    .page-template-page-academics-center .selector_mbl_lc .container {
        width: 100%!important;
        padding-left: 0px;
        padding-right: 5px;
    }
    
    .page-template-page-academics-center .selector_circle {
        margin: 0 auto;
    }
    .page-template-page-academics-center .logo img {
        width: 30%;
    }
    .page-template-page-academics-center .selector_circle {
        width: 180px;
        height: 180px;
    }
    .page-template-page-academics-center .selector_circle p {
        font-size: 16px;
    }
    .page-template-page-academics-center .my-class {
        padding-bottom: 15px;
    }
    .uni-logo {
        width: 220px;
    }
    .page-template-page-academics-center .row.majors li a {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-left: 15px;
    }
    .page-template-page-academics-center form#searchform {
        margin-top: 0px;
    }
    .page-template-page-academics-center .logo {
        left: 0;
    }
    .page-template-page-academics-center #main {
        margin-top: 113px !important;
    }
    .page-template-page-academics-center #header {
        height: 78px;
    }
    .page-template-page-academics-center .inner_header {
        height: -10px!important;
    }
    .page-template-page-academics-center .inner_header {
        height: 50px;
    }
    .page-template-page-academics-center .vav_wrap {
        margin-top: -78px!important;
    }
    /* Academics Page */

    /* Humannities and Social Science */
    .link_images .menu_item {
        width: 100%;
    }
    .col3.menu_item h2 {
        width: 100%;
    }
    .menu_item.col3 img, .menu_item.col4 img {
        width: 100%;
        object-fit: cover;
    }
    .page-id-886 #content .entry-title {
        margin-top: 0px;
    }
    .page-id-844 #content .entry-title {
        margin-top: 0;
    }
    /* Humannities and Social Science */

    /* Giving  Page*/
    .page-id-263649 .giving-video {
        height: 200px !important;
    }
    .page-id-263649 .logo img {
        width: 23%!important;
    }
    .page-id-263649 h1.entry-title {
        text-align: center !important;
    }

    /* Giving Page */
    .page-id-263649 .giving-side-banners {
        flex-direction: column;
    }
    .page-id-263649 .giving-side-box:nth-child(2), .page-id-263649 .giving-side-box:nth-child(3) {
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
        /* Header Giving */
        .page-id-263649 .inner_header .top_menu {
            margin-top: 0 !important;
        }
        .page-id-263649 #header {
            height: 0 !important;
        }
        .page-id-263649 .inner_wrap {
            height: 0 !important;
        }
        .page-id-263649  form#searchform {
            margin-top: 0px !important;
        }
        .page-id-263649 .vav_wrap {
            margin-top: 0px!important;
        }
        .page-id-263649 #main {
            margin-top: 96px!important;
        }
        /* Header Giving */

    /* Giving Page */
}
@media (max-width:415px) {
    aside.csRight input.srhField {
        width: 198px;
    }
    /* Library & Academic Support */
    
    .page-template-page-library-inner form#searchform {
        margin-top: 0;
    }
    /* Library & Academic Support */

      /* Academic Center */
      .page-template-page-arzu-center .arconix-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .page-template-page-arzu-center .box_list h3 {
        text-align: center;
    }
    /* Academic Center */
    
    /* Faculty */
    .page-id-892 #content {
        padding: 0em 3% 0px;
    }
    .page-id-892 #main {
        margin-top: 0px !important;
    }
    .page-id-892 .facInBox {
        width: 100%;
    }
    .page-id-1024 .facInBox {
        width: 100%;
    }
    .page-template-page-cmd-center form#searchform {
        margin-top: -28px;
    }
    
    .page-template-page-arzu-center form#searchform {
        margin-top: -21px;
    }
    /* Faculty */

    /* Libral Core */
        .page-template-page-liberal-core-center #main {
            margin-top: 70px !important;
        }
        .page-template-page-liberal-core-center .inner_wrap {
            height: 72px;
        }
        form#searchform {
            margin-top: 40px;
        }
        .page-id-892 form#searchform {
            margin-top: 0;
        }
    /* Libral Core */


    /* Library */
    .page-template-page-library-main .mw_library_menu {
        padding: 10px !important;
    }
    .page-template-page-library-inner-php #header {
        height: 0 !important;
    }
    .page-template-page-library-main .mw_library_menu ul {
        padding: 10px 0;
    }
    .page-template-page-library-main .library_lft .top.attached.tabular a {
        padding: 6px 4px 7px !important;
        font-size: 12px !important;
        line-height: 15px;
    }
    .page-template-page-library-main #catlogSearch aside.csRight, #scholarbounce aside.csRight {
        display: flex;
    justify-content: center;align-items: center;}
    .page-template-page-library-main .ff_link_images {
        width: 100%;
    }
    .page-template-page-library-main #main {
        margin-top: 75px!important;
    }
    .page-template-page-library-main .library_timing h3 {
        font-size: 12px;
        line-height: 18px;
    }
    .page-template-page-library-main  #header {
        z-index: 99999;
        height: 0;
    }
    .page-template-page-library-main .vav_wrap {
        margin-top: 0 !important;
    }
    .page-template-page-library-main .inner_header {
        height: 44px;
    }
    .page-template-page-library-main .inner_wrap {
        height: 70px;
    }
    /* Library */

    /* Humanitis and Social Science */
    .post-844 #content .entry-title {
        font-size: 24px;
        margin-top: 5px;
    }
    .post-844 .entry-content iframe {
        width: 100%;
        height: 169px;
    }
    #post-844 .link_images .menu_item h2{
        font-size: 14px !important;
        line-height: 24px !important;
    }
    .page-id-886 #content .entry-title {
        margin-top: 23px;
    }
    /* Humanitis and Social Science */

      /* Academic Affairs */
    .page-template-page-academic-affairs .inner_header.poffice .mstopRight {
        margin-top: 7px !important;
    }
    #wrapper #po_searchform input[type="text"] {
        width: 60% !important;
    }
    .page-template-page-academic-affairs #wrapper #po_searchform input[type="submit"] {
        width: 21% !important;
    }
    .inner_header.poffice {
        display: flex;
        flex-direction: column;
    }
    .page-template-page-academic-affairs .inner_header.poffice .logo {
        margin: 32px auto 0 !important;
        width: 55% !important;
    }
    .page-template-page-academic-affairs .menu-toggle-button {
        margin-top: 0;
    }
    .page-template-page-academic-affairs .poffice .logo img {
        width: 100% !important;
    }
    #wrapper .mstopRight .search {
        width: 50%;
    }
   
    .page-template-page-academic-affairs .quickLinkBox {
        top: 0 !important;
        width: 50%;
        display: block;
    }
    .page-template-page-academic-affairs .inner_header.poffice .mstopRight {
        display: flex;
    }
    .page-template-page-academic-affairs .quickMenuDiv ul.menu {
        height: 550px;
        display: block;
    }
    .page-template-page-academic-affairs .quickMenuDiv ul.menu > li {
        width: 100%;
    }
    .page-template-page-academic-affairs .quickMenu {
        top: 22%;
        width: 100%;
    }
    .page-template-page-academic-affairs .quickMenu {
        right: -40px;
    }
    #wrapper .mstopRight .search {
        display: flex;
        align-items: flex-end;
    }
    .page-template-page-academic-affairs .oafpageboxes article {
        width: 100%;
    }
    .page-id-881 #content .entry-title {
        margin-top: 0;
    }
    .page-id-881 #content {
        padding: 0em 3% 0px;
    }.page-id-881 .logo img {
        width: 49%;
    }
    .page-id-7287 form#searchform {
        margin-top: 0px;
    }
    
    /* Academic Affairs */

    /* Academics Page */
    .page-template-page-academics-center #main {
        margin-top: 0 !important;
    }
    .page-template-page-academics-center .inner_wrap {
        height: 94px;
    }
    .page-template-page-academics-center form#searchform {
        margin-top: 50px;
    }
     .page-template-page-academics-center .row {
        margin-left: 0;
    }
    .page-template-page-academics-center .selector_circle {
        width: 134px;
        height: 134px;
        margin: 0 auto !important;
    }
    .page-template-page-academics-center .selector_circle img {
        width: 60%;
    }
    .page-template-page-academics-center .selector_circle p {
        font-size: 12px;
        line-height: 12px;
        padding-top: 7px;
    }
    .page-template-page-academics-center .selector_circle br {
        display: none;
    }
    .page-template-page-academics-center h2 {
        margin-bottom: 10px;
    }
    .page-template-page-academics-center .col-sm-6 {
        padding-right: 0px!important;
    }
    .page-template-page-academics-center .adjust-uni-logo{
        display: flex;
        justify-content: space-around;
    }
    .page-template-page-academics-center .uni-logo {
        width: 190px !important;
    }
    .page-template-page-academics-center .space-set, .page-template-page-academics-center .space-set .row, .page-template-page-academics-center .space-set .col-md-12 {
        padding: 0;
    }
    .page-template-page-academics-center .row.minors li {
        padding-left: 10px;
    }
    /* Academics Page */

    /* Giving Page */
    .page-id-263649 #main {
        margin-top: 105px!important;
    }
    /* Giving Page */

  
} 
@media (max-width:376px) {
  

    /* Faculty */
    .page-id-892 #content .entry-title {
        margin-top: 10px;
    }
    .page-template-page-cmd-center form#searchform {
        margin-top: -20px;
    }
    .page-template-page-arzu-center form#searchform {
        margin-top: 0px;
    }
    /* Faculty */


    /* Libral Core */
    form#searchform {
        /* margin-top: 47px; */
    }
    /* Humanities and Social Science */
    .page-id-886 #content .entry-title {
        margin-top: 2px;
    }
    .page-id-844 #content .entry-title {
        margin-top: 10px;
    }
    /* Humanities and Social Science */


    /* Academic Affairs */

    .page-template-page-academic-affairs #wrapper #po_searchform input[type="submit"] {
        width: 9% !important;
    }
    .page-template-page-academic-affairs .search input#s, .home #wrapper .search input#s, body #wrapper .search input#s {
        width: 48%!important;
    }
    .page-template-page-academic-affairs #wrapper #po_searchform input[type="submit"] {
        width: 26% !important;
    }
    
    .page-id-881 .logo img {
        width: 52%;
    }
    
    /* Academic Affairs */


    /* Academics Page */
    .page-template-page-academics-center form#searchform {
        margin-top: 50px;
    }
    /* .page-template-page-academic-affairs .search input#s, .home #wrapper .search input#s, body #wrapper .search input#s {
        width: 63%!important;
    } */
    /* Academics Page */

}


@media (max-width:321px) {

    
    /* Academics Page */
   
    
    .page-template-page-academics-center .selector_circle p {
        font-size: 10px;
        line-height: 10px;
    }
    .page-template-page-academics-center .uni-logo {
        width: 150px !important;
    }
    /* Academics Page */
}