
/* ------------------------------------------------- soh-comm wellness center template---------------------------------------------- */

.page-template-page-wellness-center .inner_header.poffice, .page-template-page-wellness-center-inner .inner_header.poffice{
    max-width: 1300px!important;
}
.page-template-page-wellness-center .inner_footer, .page-template-page-wellness-center-inner .inner_footer {
    max-width: 1300px!important;
}
.page-template-page-wellness-center .poffice_header_bottom_wellness, .page-template-page-wellness-center-inner .poffice_header_bottom_wellness {
display: inline-block;
}
.page-template-page-wellness-center .quickLinkBox, .page-template-page-wellness-center-inner .quickLinkBox {
    top: 40px!important;
}
.page-template-page-wellness-center .inner_header.poffice .mstopRight, .page-template-page-wellness-center-inner .inner_header.poffice .mstopRight {
    margin-top: 0px;
}
.page-template-page-wellness-center .inner_header.poffice .logo, .page-template-page-wellness-center-inner .inner_header.poffice .logo {
    margin-top: 0px;
}
.page-template-page-wellness-center .quickMenu, .page-template-page-wellness-center-inner .quickMenu {
    top: 24%;
}
.page-template-page-wellness-center .quickMenuDiv ul.menu > li, .page-template-page-wellness-center-inner .quickMenuDiv ul.menu > li {
    width: 19.5%;
}
.page-template-page-wellness-center  #wrapper .search input#s, .page-template-page-wellness-center-inner #wrapper .search input#s {
    margin-right: 0px;
    margin-left: 0px!important;
    margin-top: 0px;
    padding-bottom: 0;
    padding-left: 0px !important;
    padding-right: 0;
    padding-top: 0px;
}
.page-template-page-wellness-center #wrapper #po_searchform_wc input[type="text"], .page-template-page-wellness-center-inner #wrapper #po_searchform_wc input[type="text"]  {
    float: initial!important;
}
.page-template-page-wellness-center input#s, .page-template-page-wellness-center-inner input#s {
    background-image: none!important;
}
.poffice_header_bottom_wellness .po_menu > .menu {
    background-color: #5d2468!important;
}
.page-template-page-wellness-center .facilitiesList {
    display: block;
}
.facilitiesList-for-only-mobile-view {
    display: none;
}
.wellness-practice-schedule-img
{
    display: none;
}
.facilitiesList-for-only-mobile-view ul {
    margin-left: 0px;
}
.facilitiesList-for-only-mobile-view h2 {
    text-align: center;
    padding-bottom: 20px;
}
.facilitiesList-for-only-mobile-view a li {
    width: 97%;
    display: inline-block;
    margin: 1% auto;
    padding: 2%;
    text-align: center;
    list-style: none;
}
.facilitiesList-for-only-mobile-view a li {
    color: #fff;
    text-decoration: none;
}
.wc_sectionFour table td {
    padding: 10px 10px;
}
@media screen and (max-width: 920px)
{
    .page-template-page-wellness-center .wc_mleft {
        width: 94%;
        padding: 3%;
    }
    .page-template-page-wellness-center .wc_mright {
        width: 94%;
        padding: 3%;
    }
}

@media screen and (max-width: 768px)
{
    .wellness-practice-schedule-img
    {
        display: block;
    }
    .wc_sectionTwo:before
    {
        display: none;
    }
    .wc_sectionThree.wc_fullwidth {
        display: contents;
    }
    .wc_sectionFour.wc_fullwidth {
        display: none;
    }
    .page-template-page-wellness-center .facilitiesList {
        display: none;
    }
    .facilitiesList-for-only-mobile-view {
        display: block;
    }
    .wc_sectionFour table td {
        padding: 10px 10px;
    }
.page-template-page-wellness-center .inner_header.poffice .mstopRight, .page-template-page-wellness-center-inner .inner_header.poffice .mstopRight {
    width: 48%;
}
.page-template-page-wellness-center .inner_header.poffice .logo, .page-template-page-wellness-center-inner .inner_header.poffice .logo{
    width: 48%;
}
.page-template-page-wellness-center .inner_header.poffice, .page-template-page-wellness-center-inner .inner_header.poffice {
    width: 100%!important;
}
.page-template-page-wellness-center .mstopRight .quickLinks, .page-template-page-wellness-center-inner .mstopRight .quickLinks {
    top: 0px;
}
.page-template-page-wellness-center #wrapper .mstopRight .search, .page-template-page-wellness-center-inner #wrapper .mstopRight .search{
    float: right;
}
.page-template-page-wellness-center-inner .phySidebar.wellnessSidebar {
    width: 92%;
    max-width: initial;
}
.page-template-page-wellness-center-inner .wc_left_content {
    width: 100%;
}
.page-template-page-wellness-center .phySidebar.wellnessSidebar {
    width: 92%;
    max-width: initial;
}
.page-template-page-wellness-center .wc_left_content {
    width: 100%;
}
.page-template-page-wellness-center .menu_item.col4 {
    width: 100%!important;
    max-width: 100%;
    height: auto;
}
.page-template-page-wellness-center-inner .menu_item.col4 {
    width: 100%!important;
    max-width: 100%;
    height: auto;
}
.page-template-page-wellness-center .menu_item.col2 {
    width: 100%;
    max-width: inherit;
    min-height: auto;
    height: auto;
}
.page-template-page-wellness-center-inner .menu_item.col2 {
    width: 100%;
    max-width: inherit;
    min-height: auto;
    height: auto;
}

}
@media screen and (max-width: 767px)
{
    .page-template-page-wellness-center .mstopRight .quickLinks, .page-template-page-wellness-center-inner .mstopRight .quickLinks {
        top: 40px;
    }
}


@media screen and (max-width: 690px){
.page-template-page-wellness-center .mstopRight .quickLinks, .page-template-page-wellness-center-inner .mstopRight .quickLinks {
    top: 90px;
    display: none!important;
}
.wc_sectionFour.wc_fullwidth {
    margin-left: -60vw;
}
}
@media screen and (max-width: 599px){
    .page-template-page-wellness-center .inner_header.poffice .logo, .page-template-page-wellness-center-inner .inner_header.poffice .logo {
        width: 100%!important;
    }
    .page-template-page-wellness-center .inner_header.poffice .mstopRight, .page-template-page-wellness-center-inner .inner_header.poffice .mstopRight {
        width: 100%!important;
    }
    .page-template-page-wellness-center #wrapper .mstopRight .search, .page-template-page-wellness-center-inner #wrapper .mstopRight .search {
        float: none;
        text-align: center;
        width: 100%!important;
    }
}

@media screen and (max-width: 480px){
    .page-template-page-wellness-center .inner_header, .page-template-page-wellness-center-inner .inner_header {
    min-height: 145px!important;
}
.page-template-page-wellness-center #wrapper .search, .page-template-page-wellness-center-inner #wrapper .search{
    margin-top: 80px !important;
}
.wellness-center .wc_sectionTwo {
    display: block;
}
}

@media screen and (max-width: 366px){
.wc_sectionThree .wc_col2 {
    width: calc(61% - 40px);
    padding: 0px;
}
.phySidebar.wellnessSidebar {
    width: 100%;
    padding: 20px 12px;
}
.page-template-page-wellness-center-inner .wc_left_content {
    width: 100%;
}
}






/* ------------------------------------------------- soh-comm old wellness center template---------------------------------------------- */
@media only screen and (max-width: 599px) and (min-width: 360px){
                    /*Wellness Center responsive HA 27 june 2019*/
                .btn.quickLinks {display: none;}
                .poffice_header_bottom_wellness {display: block;}
                .poffice_header_bottom_wellness .po_menu > .menu > li a {color: white!important;}
                .poffice_header_bottom_wellness .po_menu > .menu > li:first-child {padding-left: 10px;}
                .poffice_header_bottom_wellness .po_menu > .menu {
                            margin: 0;
                            background-color: #bf1e2e;
                            list-style: none;
                            float: left;
                            width: 100%;
            }
                .poffice_header_bottom_wellness {
                    display: block;
                    width: 100%; 
                    background-color: #fff; 
                    margin-bottom: 0px;
                    border-bottom: 0px;}
                .inner_header.poffice .logo {
                        width: 270px;
                        float: right;
                        margin: 0 auto;
                        position: absolute;
                        left: auto;}
                .inner_header {
                        min-height: 145px;
                    }
                .page-template-page-wellness-center-inner .wc_left_content {
                        width: auto;
                    }
                .topBg {
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 110px;
                        display: flex;
                        margin-bottom: 50px;
                    }
                .phySidebar.wellnessSidebar {
                        width: auto;}
                .phySidebar.wellnessSidebar{
                      margin: auto;
                    transform: translate(0px, 100px);
                    width: auto;
                    margin-bottom: 20px;
                }
                #wrapper .mstopRight .search {
                    float: left;
                    width: auto;
                    margin-bottom: 20px;
                }
                #wrapper .search input#s {
                    width: 88%!important;
                }
                .menu_item.col4 {
                     width: 100%;}
                .menu_item.col4 img {
                     height: 150px;}
                     .wellness-center .wc_sectionTwo {display: block!important;} 
                .wc_mleft,.wc_mright {width: auto;} 
             
    
}
