/*
For : Arzu
Author: Asim Siddiqui
Version: 1.0
*/


body.page-template-page-arzu-center #wrapper #header {
	
}
body.page-template-page-arzu-center .mw_arzu_slider {
	
}
body.page-template-page-cmd-events .mw_center_logo,
body.page-template-page-cmd-center .mw_center_logo,
body.page-template-page-arzu-center .mw_center_logo,
body.page-template-page-arzu-events .mw_center_logo {
	width: 1000px; margin:0 auto; text-align:right;
	
}
.mw_center_logo img{ width:20%; padding-bottom:10px;    margin-top: 0px !important;}

body.page-template-page-cmd-events #main,
body.page-template-page-cmd-center #main,
body.page-template-page-arzu-center #main,
body.page-template-page-arzu-events #main {
	background-color: #fff;
    max-width: 1000px;
    margin: 0px auto;
}
.mw_arzu_menu_testimonial {
	margin-bottom:40px;
}
.mw_arzu_menu_testimonial .widget_nav_menu {
/*	october 27 - margin-top: -74px;*/
    height: 24px;
    background-color: #5d2566;
    text-align: center;
    z-index: 99;
    position: relative;
    padding: 20px 0 15px;
}
.mw_arzu_menu_testimonial .widget_nav_menu ul { margin:0; }
.mw_arzu_menu_testimonial .widget_nav_menu li {
	display:inline-block;
	list-style:none;
	margin:0 10px;
	border-right: 1px #fff solid;
    padding-right: 20px;
}

.mw_arzu_menu_testimonial .widget_nav_menu li:last-child {
	display:inline-block;
	list-style:none;
	margin:0 10px;
	border-right: 0px #fff solid;
    padding-right: 20px;
}
.mw_arzu_menu_testimonial .widget_nav_menu li a {
	color:#fff;
	text-decoration:none; font-weight:bold; text-transform: uppercase;
}
.mw_arzu_menu_testimonial .widget_text {
	padding:20px 30px;
	background-color:#235a93;
	color:#fff;
}
.mw_arzu_tag {margin-top:20px;}

body.page-template-page-cmd-events .mw_arzu_tag,
body.page-template-page-arzu-center .mw_arzu_tag,
body.page-template-page-arzu-events .mw_arzu_tag {
	margin-bottom: 30px;
    overflow: hidden;
}
body.page-template-page-arzu-center .mw_arzu_tag
{
    margin-bottom: 0px;
}
body.page-template-page-cmd-center p:empty, 
body.page-template-page-arzu-center p:empty {
	display:none;
}
body.page-template-page-cmd-center .mleft,
body.page-template-page-arzu-center .mleft {
	float:left;
	line-height: 22px;
	padding-left: 0px;
}
body.page-template-page-cmd-center .mleft > br:first-child,
body.page-template-page-arzu-center .mleft > br:first-child {
	display:none;
}

body.page-template-page-cmd-center .mleft h2,
body.page-template-page-arzu-center .mleft h2 {
	font-size: 24px;
    color: #000000;
    font-weight: 400;
	margin-bottom: 15px;
}

body.page-template-page-cmd-center .mleft p,
body.page-template-page-arzu-center .mleft p {
	margin-bottom:10px;
	text-align: justify;
}

body.page-template-page-cmd-center .mright,
body.page-template-page-arzu-center .mright {
	float:right;
	/* padding-right: 20px; */
}
.mleft {
    color: #000;
}
.box_list {
	background-color:#ffffff;
	overflow:hidden;
	font-size: 13px;
    line-height: 18px;
}
.box_list.arzu {
	/* height: 350px; */
	height: auto;
    /* overflow-y: scroll; */
	width: 108%;
}
.box_list.arzu h3 { 
    margin-bottom: 0px;
}
.arconix-list {
    display: inline-grid;
    width: 24%;
    padding: 10px;
}
.arconix-list h4 {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 0px;
}
.arconix-list p {
    font-size: 13px;
    color: #000;
}
.box_list h3 {
	font-size: 22px;
    color: #000000;
    font-weight: 600;
    border-bottom: #fff 1px solid;
    line-height: 40px;
    /* padding-left: 15px; */
    padding-top: 8px;
    padding-bottom: 5px;
}
.box_list {
    padding-left: 0px;
}
.box_list .blist {
    /* margin: 0px 0px 0px 0px; */
    border-bottom: #fff 1px solid;
    width: 25%;
    /* padding-bottom: 0px; */
    /* max-width: 320px; */
    float: left;
}
.box_list .blist:last-child {
	border-bottom:0 none;
	padding-bottom: 0;
}
.box_list .blist > br {
	display:none;
}
.box_list .blist > div {
	float: left;
    max-width: 230px;
	width: 100%;
}
#connected {
	background:#e0e0e0;
	width:100%;
	margin:10px auto;
	padding:30px 0px;
	color:#fff;
	display:block;
	overflow:hidden;
	float:left;
}
#connected-cmd {
	background:#5c2568;
	width:100%;
	margin:30px auto;
	padding:0px;
	color:#23282d;
	display:block;
	overflow:hidden;
	float:left;
}
.contact {
	float:left;
	padding-left:20px;
	width: 320px;
}
.contact-cmd {
		float:left;
	padding:30px;
	padding-right: 0px;
	width: 230px;

}
.contact h3 {
	font-size:24px;
	color:#5a5a5a;
	line-height: 36px;
}
.contact h4 {
	font-size:18px;
	color:#5a5a5a;
	line-height:24px
}

.contact p {line-height:20px; color:#5a5a5a;}
.form-label {color:#5a5a5a !important;}

.map {float:right; padding-right:20px;}
.map-cmd {
    float: right;
    padding: 0px;
    width: 730px;
    height: 350px;
}
#arzu_event {
	float:left;
	width:100%;
	/* background-color: #212121; */
	background-image: url(https://habib.edu.pk/wp-content/uploads/2021/08/hu-bg.jpg);
    background-size: cover;
	color:#fff; 
	padding:30px 10px 30px 10px; 
	margin-top:20px; 
	margin-bottom: 10px;
}
#arzu_event h2 {
	font-size: 26px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

#arzu_event h3 {
	font-size:18px; 
	padding-bottom:10px;
}

section#arzu_event .mleft {
    color: #fff!important;
    text-align: center;
    font-size: 15px;
}

#arzu_event_past {
	float:left;
	width:985px;
}
#arzu_event_past {
	padding:15px 0 15px 15px;
}
#arzu_event_past h2 {
		font-size:24px;
	color:#5a5a5a;
	line-height: 36px; }
#arzu_event_past h3 {
		font-size:24px;
	color:#5a5a5a;

}
#arzu_event_past .row {
	float:left;
	width: 28.6%;
	padding: 14px;
	margin-right: 15px;
	border:1px solid #7b5483;
	color:#551255;
	font-size:12px;
}
#arzu_event_past .row img {
	width: 100%;
}
#arzu_event_past .row h3 {
	color: #7b5483;
	font-size:14px;
	font-weight:bold;
}
#arzu_event_past .row h3 a {
	color: #270f4b;
	text-decoration:none;
}
#arzu_event_past .row h4 {
	
}
#arzu_event_past p a[rel="wp-video-lightbox"],
.btn {
    background-color: #f9b515;
    border-radius: 4px;
    color: #5c2568;
    padding: 5px;
    text-align: center;
    width: 150px;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
#arzu_event_past p a[rel="wp-video-lightbox"][href="#"] {
    display: none;
}
#arzu_event_past p:empty {
	display:none;
}
#wrapper .btn {
	color:#5d2566;
}
#wrapper .btn:hover {
	color:#bf1e2e;
}
body.page-template-page-arzu-center {
	
}
.custom > div h3 a {
	line-height: 30px;
    text-decoration: none;
    color: #5a5a5a;
}
.custom > div h4 {
	
}


.box_list.wicse {
	overflow-y: scroll;
    height: 270px;
}
.box_list.wicse > .blist {
	margin-bottom: 0;
	padding-bottom: 10px;
}
.box_list.wicse > .blist > img {
	
}
.box_list.wicse > .blist > div {
	width:100%;
}
.box_list.wicse > .blist > div > p {
	margin-bottom:0;
}
.box_list.wicse {
	
}
.wicse_pbox {
	float: left;
    width: 28.6%;
    padding: 14px;
    margin-right: 15px;
    border: 1px solid #7b5483;
    color: #551255;
    font-size: 12px;
}

/*

.phyLab .fullwidth .topImg:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 81px;
    background: url(images/isam.png) center center no-repeat;
    background-size: 250px 81px;
    right: 0px;
    z-index: 1;
    top: 0px;
    padding: 10px;
    background-color: rgba(91, 40, 103, 0.14);
    border-radius: 0 0 0 10px;
}
*/
div#text-25 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mw_arzu_slider {
    padding-top: 15px;
}
.mwPastEvents {
    width: 101%;
	margin-left: 0px;
}
.mwPastEvents article.ycsdBox {
    width: 49%;
}
.mwPastEvents article.ycsdBox img.idrac_article_img {
    width: 100%;
    height: 170px;
}
.mwPastEvents .ycsdInner p, .mwPastEvents .ycsdInner a {
    display: none;
}
.mwPastEvents .ycsdInner h4 a {
    display: block;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
.ycsdInner {
    padding: 0px!important;
}
h4.ycsdTitle {
    margin: 0px!important;
}
.ycsdBox:nth-child(1) .ycsdTitle {
    background: #ffffff;
}
.ycsdBox:nth-child(2) .ycsdTitle {
    background: #ffffff!important;
}
.ycsdBox:nth-child(3) .ycsdTitle {
    background: #ffffff!important;
}
.ycsdBox:nth-child(4) .ycsdTitle {
    background: #ffffff!important;
}
.ycsdBtn {
    width: 34%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    top: -158px;
	display: none;
}
a.pressRelease {
    background-image: none;
    position: absolute;
    font-size: 22px;
    padding: 8px 10px;
    border: 1px solid #fff;
    background-color: #ffffff00;
    color: #fff!important;
}
article.ycsdBox:hover .ycsdBtn {
    display: block;
}
article.ycsdBox:hover img {
    opacity: 0.3;
}
article.ycsdBox:hover {
    background-color: #000;
}
.mw_ycsd_mid .inner_wraper .ycsdBox, .ycsdBox {
    margin-left: 0px;
}
.mright.directorcmdmain {
    width: 100%;
}
.mright.directorcmdmain .arconix-list {
    display: flex;
    width: 100%;
}
.directorcmdimg {
    width: 13%;
    padding: 15px;
}
.directorcmdimg img {
width: 100%;
}
/* .directorcmdbio {
    padding-top: 2%;
} */




@media screen and (max-width: 520px) {
    body.page-template-page-cmd-center .mw_center_logo,
    body.page-template-page-arzu-center .mw_center_logo{
		width: 100%;
    }
	.mw_arzu_menu_testimonial {
		margin-bottom:20px;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu {
		padding: 11px 0 8px 0;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu li {
		padding-right: 10px;
		margin: 0 3px 0 5px;
		font-size: 12px;
		line-height: 10px;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu li:last-child {
		padding-right: 0;
		margin-left: 5px;
		margin-right: 5px;
	}
	body.page-template-page-arzu-center .mw_arzu_tag {
        margin-top: 20px;	
	}
    .mwPastEvents {
    margin: 0 auto;
    margin-left: 0px!important;
    }
    .idrac_article_img {
    width: 100%!important;
    object-fit: cover;
    }
    .pressRelease {
    background-position: 38%!important;
    }
    body.page-template-page-cmd-center .mleft,
    body.page-template-page-cmd-center .mright,
	body.page-template-page-arzu-center .mleft,
	body.page-template-page-arzu-center .mright {
		width: 90% !important;
    	padding: 0 5%;
	}

	.mright > p{
		text-align: justify;
	}
	/* body.page-template-page-arzu-center .mright {
		
	} */
    body.page-template-page-cmd-center .mleft h2, 
	body.page-template-page-arzu-center .mleft h2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.box_list {
		
	}
	.box_list h3 {
		font-size: 18px;
		line-height: 20px;
		padding-bottom: 8px;
	}
	.box_list .blist {
		margin: 3%;
        width: 94%;
	}
	.box_list .blist > div > p {
		margin-bottom:auto;
	}
	.box_list .blist:last-child {
		
	}
	#arzu_event,
	.contact,
	.map,
	#arzu_event_past {
		width: 90%;
        padding: 5%;
	}
	.contact iframe {
		height:190px !important;
	}
	#arzu_event_past .row {
		width: 90%;
		margin-right: 0;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.mw_arzu_tag section p {
		margin-bottom: 5px;
	}
	.mw_arzu_tag section > div:last-child {
		margin-top:-30px 0 0 !important;
	}
    /*HA ARZU CSS 27june 2019*/
    .contact-cmd {
        width: auto;
    }
    section#connected-cmd {
    width: auto;
    margin: 0 auto;
    }
    .arconix-list {
		width: 100%;
	}
}

@media screen and (max-width: 868px) {
body.page-template-page-cmd-events #main, body.page-template-page-cmd-center #main, body.page-template-page-arzu-center #main, body.page-template-page-arzu-events #main {
    width: 100%;
}
body.page-template-page-cmd-center .mleft, body.page-template-page-arzu-center .mleft {
    text-align: center!important;
    margin: 0px auto!important;
    float: none!important;
}
body.page-template-page-cmd-center .mleft h2, body.page-template-page-arzu-center .mleft h2 {
    text-align: center;
}
body.page-template-page-cmd-center .mright, body.page-template-page-arzu-center .mright {
    float: none;
    margin: auto;
}
#arzu_event {
    width: 99%!important;
    padding-left: 0px!important;
    float: none;
}
.mw_ycsd_mid .inner_wraper .ycsdBox, .ycsdBox {
	float: none!important;
    width: 80%!important;
    text-align: center!important;
    border: 1px solid !important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 30px!important;
    margin-bottom: 40px!important;
}

.mwPastEvents {
    margin-left: 0px!important;
    width: 100%!important;
}
.mwPastEvents-btn-main {
	margin-left: auto!important;
    margin-right: auto!important;
    float: none!important;
    max-width: fit-content!important;
    width: 100%!important;
    text-align: center!important;
    margin-top: 28px!important;
    overflow: hidden!important;
    margin: 32px auto!important;
    margin-bottom: 10px!important;
    background-color: #f9b515;
    border-radius: 4px;
    color: #5c2568!important;
    padding: 5px!important;
}
.mwPastEvents-btn-main a {
    margin-bottom: 10px !important;
    /* background-color: #f9b515; */
    border-radius: 4px;
    color: #5c2568!important;
    padding: 5px!important;
    text-align: center!important;
    width: 150px!important;
    overflow: hidden!important;
    margin: 0 auto!important;
    float: right!important;
    margin-right: 21px!important;
}
#connected-cmd {
    float: none!important;
    text-align: center!important;
	padding: 10px!important;
}
.contact-cmd {
    float: none!important;
    width: 100%!important;
	padding: 0px!important;
}
.map-cmd {
    float: none!important;
    width: 100%!important;
}
.mw_center_logo div#text-17 img {
    width: auto;
}
.box_list .blist {
    width: 23%;
}
}


@media screen and (max-width: 682px) and (min-width: 602px) {
	.contact-cmd iframe {
		height: 450px!important;
	}

}
@media screen and (max-width: 868px) and (min-width: 682px) {
div#text-25 {

    width: 73%;
    margin-left: auto;
    margin-right: auto;
}
div#text-17 {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 531px) {
	.contact-cmd iframe {
		height: 250px!important;
	}
    .page-template-page-arzu-center div#text-17 {
        width: 100%;
        text-align: center;
        display: initial;
    }
    body.page-template-page-cmd-center .mw_center_logo
    {
        text-align: center;
        display: initial;
    }
    .mw_center_logo img {
        padding-bottom: 0px;
        margin-top: 15px !important;
    }
    body.page-template-page-arzu-center .mright {
        text-align: center;
    }
    .box_list .blist > div {
        max-width: 100%;
    }
    .ycsdBox {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
        border: 1px solid #000!important;
    }
    .mwPastEvents-btn-main {
        margin-top: 0px!important;
        margin-bottom: 23px!important;
    }
    .box_list .blist {
        width: 94%;
    }
    .dir-cmd {
        width: 80%;
        margin: 0px auto;
    }
    .box_list .blist {
        margin: 3% 0%;
    }
}
