/* Style sheet for mega menu mobile custom  */

    #mega-menu-item-262119{
        clear:left !important;
    }
    @media (max-width: 768px){
        #mega-menu-item-262119{
        clear:none !important;
    }}

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu{

        width: 870px;
        left: 526px;
    }


    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link{
        font-family: 'Open Sans';
        font-size:14px;
        
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{

        background: linear-gradient(#fac446,#fac446) bottom /* left or right or else */ no-repeat;
        background-size: 20px 2px;
        background-position: 9px bottom;
        transition: 0s;

    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after{
        content:none;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link:hover{
        padding-bottom: 10px;
        background: linear-gradient(#fac446,#fac446) bottom no-repeat;
        background-size: 30px 3px;
        background-position: 10px bottom;
        transition: 0s;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover {
        padding-bottom: 10px;
        background: linear-gradient(#fac446,#fac446) bottom no-repeat;
        background-size: 30px 6px;
        background-position: 0px bottom;
        transition: 0s;
        color:inherit;
    }


    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
        border-bottom: none;
        padding-bottom: 10px;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu{
        padding: 6px 0px 6px 0px;
        height: 42px;
        line-height: 32px;
    }


  .scst {
    font-size: 25px !important;
    z-index: 9999;
    position: relative;
    width: 80px;
    height: 30px;
    z-index: 1000000;
    font-size: 25px !important; 
    }

    a.search-form-tigger {
        color: #5c2568;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
        color: #5c2568;
        background: white;
        border-bottom: 1px solid #ebebeb;
        

    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover, #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus{
        color: #989898;
        border: none;
        
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover{
        background: white;
       
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear{
        clear : none;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu{
        padding: 5px;
        border-radius:6px;
        background: white;
    }


/*for g4*/
@media screen and (min-width:360px) and (max-width:640px)
{
    .home .inner_header, .page-template-home-page .inner_header {
        height: 130px;
        min-height: 0px;
        margin-top: -14px !important;
    } 
      .inner_header {
            width: 100%;
            min-height: 222px;
      }
      .page.page-id-261468 .inner_header .logo {
        float: left;
        /* margin-left: -9%; */
        width: 310px;
      }
      .logo img{
        width: 60%;
        float: left;
        /* margin-left: 20px; */
        position: relative;
        z-index:1000000;
      }
      #box a{
        padding: 6px 6px;
      }

    .inner_header {
        height: -10px!important;
    }
    .cst-m-menu-child{
        width: 46.6%!important;
    }
    .cst-double-menu a{
        padding: 2px 10px!important;
    }
    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link:hover{
        background : none;
    }

}
/* for iphone 5/se */
@media screen and (min-width:320px) and (max-width:359px)
{  
      /* #mega-menu-wrap-mega_menu{
          margin-top: -27px;
      } */
      .inner_header {
            width: 100%;
            min-height: 222px;
      }

      .search-form-wrapper.open {
        margin-top: 96px !important;
        width: 250px !important;
        right: 57px !important;
        z-index: 9999999 !important;
        /* display: block; */
    }

      #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner, #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner::before, #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner::after{
        width: 32px;
        height: 4px;
      }
      .page.page-id-261468 .inner_header .logo {
        float: left;
        /* top: 22px; */
        /* margin-left: -22%; */
        left: 0;
        /* z-index: 999; */
        margin-top: 0;
        width: 310px;
      }
      .logo img{
        width: 60%;
        float: left;
        margin-left: 20px;
      }
      #box a{
        padding: 6px 6px;
      }
      #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block:only-child {
        /* margin-top: 90px; */
        z-index: 99999;
      }

      #mega-menu-wrap-mega_menu .mega-menu-toggle{
        margin-right: 50px;
        margin-top: -137px;
      }

      .inner_header .top_menu {
        float: right;
        width: 15%;
        margin-top: -30px;
    }
    .inner_header {
        height: -10px!important;
    }
    .cst-m-menu-child{
        width: 46.6%!important;
    }
    .cst-double-menu a{
        padding: 2px 10px!important;
    }
    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link:hover{
        background : none;
    }
    /*search bar*/
    #myinput, .input-group {
        width: auto;
    }
    .search-form-wrapper.open{
        margin-top: 165px;
        width: 320px;
        right: 54px;
    }
    .input-group input {
        width: AUTO;
    }
    .sbtn{width: 80px;}
    /*search bar*/
}

/* for S5 */
@media screen and (min-width:362px)  and (max-width:359px)
{

    .logo img{
        margin-left: 0px;
    }

    .inner_header {
        width: 100%;
        min-height: 222px;
  }

  

}
@media screen and (min-width:360px)  and (max-width:361px)
{

    .search-form-wrapper.open {
        height: auto !important;
        background: #5c2568;
        display: block ;
        position: absolute ;
        padding: 12px 15px !important;
        top: -170px !important;
        width: 285px !important;
        border-radius: 12px !important;
        right: 65px !important;
    }

    .input-group input{
        width: 150px !important;
    }

    #mega-menu-wrap-mega_menu .mega-menu-toggle{

        /* margin-right: 58px !important; */
    margin-top: -90px;
    }

    #mega-menu-wrap-mega_menu .mega-menu-toggle + #mega-menu-mega_menu{
        /* margin-top: -10px !important; */
    }

    #header{
        height: 107px !important;
    }

}


/* for iphone 6/7/8 */
@media screen and (min-width:374px) and (max-width:410px)
{

    .hidden-xs.navbar-form.navbar-right {
        float: right!important;
        margin-top: -146px;
        margin-right: 20px;
        }

        #mega-menu-wrap-mega_menu .mega-menu-toggle{
            background: transparent ;
            float: right;
            width: 50px;
            margin-right: 0px;
            margin-right: 45px;
            margin-top: -93px;
        }

        #mega-menu-wrap-mega_menu .mega-menu-toggle + #mega-menu-mega_menu{
            margin-top: -5px ;
        }
            #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link:hover{
            background : none;
        }
        /*search bar*/
        .home .vav_wrap, .page-template-home-page .vav_wrap{
            background: none;
            margin-top: -155px ;
        }

        .inner_wrap {
            height: 120px;
        }

    .search-form-wrapper.open{
        margin-top: -48px;
        width: 314px;
        right: 52px;
    }
    .input-group input {
        width: 150px;
    }

    .input-group{

        right: 5px;
    }
    .sbtn{width: 130px;} 
    /*search bar*/
    
}

/* for iphone 6/7/8 plus  */
@media screen and (min-width:411px) and (max-width:480px)
{

    .home .vav_wrap, .page-template-home-page .vav_wrap{
        background: none;
        margin-top: -150px;
    }

    .inner_wrap {
        height: 120px;
    }

    .hidden-xs.navbar-form.navbar-right {
        float: right!important;
        margin-top: -142px;
        margin-right: 28px;
        }
        .input-group input {
            width: 210px;
        }

        #mega-menu-wrap-mega_menu .mega-menu-toggle{
            margin-right: 55px ;
            margin-top: -90px;
        }

        #mega-menu-wrap-mega_menu .mega-menu-toggle + #mega-menu-mega_menu{
            margin-top: -5px ;
        }

        .search-form-wrapper.open {
            margin-top: 163px;
            width: 345px;
            right: 60px;
            margin-top: -45px;
        }

        .input-group{

            right: 5px;
        }
    
}

@media screen and (min-width:769px){
    li#mega-menu-item-263004{
        display: none !important;
    }
    li#mega-menu-item-263005{
        display: none !important;
    }
    li#mega-menu-item-263006{
        display: none !important;
    }
    li#mega-menu-item-263007{
        display: none !important;
    }
    li#mega-menu-item-263008{
        display: none !important;
    }
    li#mega-menu-item-263008{
        display: none !important;
    }
    #mega-menu-item-263455{
        display: none !important;
    }


    
}

@media screen and  (max-width:599px)
{   
    .home .vav_wrap, .page-template-home-page .vav_wrap{
        background: none;
        margin-top: -87px;
    }

    #header {
        z-index: 99999;
        height: 108px;
    }

   
    #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-blocks-center , #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-blocks-left{
        display: none;
    }
    #mega-menu-wrap-mega_menu .mega-menu-toggle{
        background: transparent ;
        float: right;
        width: 50px;
        margin-right: 0px;
        margin-right: 45px;
    }

    #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner, #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner::before, #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-animated-inner::after{
        background:#5c2568;
    }

    #mega-menu-wrap-mega_menu .mega-menu-toggle + #mega-menu-mega_menu{
        background: white;
        padding: 0px 0px 60px 0px; 
        position: absolute;  
        width: 100%;   
        z-index: 1;   
        box-shadow: 0px 20px 62px #5f266b;
        height: auto;
        margin-top: -20px;
    }
    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link {
        line-height: 37px;
        height: 37px;
        padding: 0 20px;
        padding-left: 35px;
        background: transparent;
        color: #61276e;
        font-size: 16px;
        font-weight: bolder;
        font-family: 'Open Sans';
      }

      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu{
          width: 100%;
      }

      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{
          background: none;
          font-weight: bold;
          color: #61276e ;
      }
      

      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item{
        border-bottom: 1px solid grey;
        padding: 5px 0px;
      }

      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
         background: none ;
         background-size: none; 
         background-position: none;
         padding-bottom: 5px;
        font-size: 13px;
        font-weight: bold;
      }
      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li#mega-menu-item-262046 > a.mega-menu-link{
          color: red;
      }
      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li#mega-menu-item-262047 > a.mega-menu-link{
          color:#2c58a5;
      }

      /* #mega-menu-wrap-mega_menu .mega-menu-toggle .mega-toggle-blocks-right
      {
          margin-top: -117px;
          margin-right: 16%;
      } */
      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link
      {
          color: #96769d;
      }
      #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
            color: #5c2568;
      }

      #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after{

        content: '+';
        /* font-family: dashicons; */
        font-weight: bold;
        font-size: 28px;
        display: inline-block;
        margin: 0 0 0 6px;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: rotate(0);
        color: inherit;
        position: relative;
        background: transparent;
        height: auto;
        width: auto;
        right: auto;
        line-height: inherit;
      }
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link > span.mega-indicator:after {
            content: '-';
            font-weight: bold;
            right:5px;
            /* font-size: 45px; */
        }

        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
            padding: 0px 20px;
        }

        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263004 > a.mega-menu-link{
            color: #61276e;
            border: 1px solid #61276e;
            border-radius: 6px;
            background: #e1b346;
            margin: 16px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Open Sans';
        }

        

        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263005 > a.mega-menu-link, 
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263006 > a.mega-menu-link,
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263007 > a.mega-menu-link,
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263008 > a.mega-menu-link{
            display: none;
            /*color: #61276e;
            border: 1px solid #61276e;
            border-radius: 12px;
            background: white;
            margin: 16px;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            font-family: 'Open Sans'*/
        }
        .cst-double-menu {
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
        }
        .cst-double-menu a{
            width: 200px;
            color: #61276e;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 28px;
        }
        .cst-m-menu-child {
            text-align: center;
            width: 47.6%;
            margin: 0 auto;
            float: left;
            border: 1px solid #a5a5a5;
            border-radius: 4px;
            margin: 4px;
            height: 30px;
            padding: 5px 0px;
        }
        .cst-m100-menu-child {
            width: 90%;
            background: #552260;
            margin: 0 auto;
            text-align: center;
            border: 1px solid #552260;
            padding: 10px 26px;
            border-radius: 4px;
        }
        .cst-m100-menu-child a {
            color: #fff;
            font-weight: bold;
            font-size: 12px;
        }
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-263006 {
            border-bottom: none;
        }
        #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li#mega-menu-item-262097 {
            border-bottom: none; /*social hub bottom line*/
        }
        
}

@media screen and (min-width:600px) and (max-width:800px)
{ 
    .page.page-id-261468 .inner_header .logo
    {
        left: 0px;
    }
    .vav_wrap{
        background-color: #5e2568 !important;
        margin-top: -24px ;
    }

    .top_menu {
        width: auto;
        float: right;
        margin-top: 5px;
        margin-bottom: 35px;
    }

    #mega-menu-wrap-mega_menu .mega-menu-toggle + #mega-menu-mega_menu , #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link ,
    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link:hover , #mega-menu-wrap-mega_menu .mega-menu-toggle{
        background: #5e2568 ;
    }

    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-261991{

        display: none;
    }

    .inner_header .logo{
        margin-left : 20px;
    }

    .top_menu ul{
        width: 430px;
    }

    .hidden-xs.navbar-form.navbar-right {
        right: 10px;
        margin-right: 10px;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-item > a.mega-menu-link{
        padding: 0px 25px;
    }

    #mega-menu-wrap-mega_menu, #mega-menu-wrap-mega_menu #mega-menu-mega_menu, #mega-menu-wrap-mega_menu #mega-menu-mega_menu ul.mega-sub-menu, #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-item, #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-row, #mega-menu-wrap-mega_menu #mega-menu-mega_menu li.mega-menu-column, #mega-menu-wrap-mega_menu #mega-menu-mega_menu a.mega-menu-link, #mega-menu-wrap-mega_menu #mega-menu-mega_menu span.mega-menu-badge{

        height: auto !important;
    }

    .owl-nav {
        position: absolute;
        text-align: center;
        margin-top: -200px!important;
        width: 100%;
    }

    #mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item{
        width: 45%;
    }

}


/* @media screen and (min-width:1100px)
{   
#mega-menu-wrap-mega_menu #mega-menu-mega_menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    left: 6%;
}
} */
