/*

Theme Name: Habib



Author: the Techibits team

Author URI: http://techibits.com/

Version: 1.0



*/





/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */
@font-face {
  font-family: 'HelveticaS-Regular';
  src: url('fonts/HelveticaS-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('fonts/HelveticaS-Regular.woff') format('woff'),
		url('fonts/HelveticaS-Regular.ttf')  format('truetype'),
		 url('fonts/HelveticaS-Regular.svg#HelveticaS-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
   	   url('fonts/Helvetica-Bold.otf')  format('opentype'),
	   url('fonts/Helvetica-Bold.woff') format('woff'),
	   url('fonts/Helvetica-Bold.ttf')  format('truetype'),
	   url('fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Black';
  src: url('fonts/Helvetica-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica-Black.otf')  format('opentype'),
	     url('fonts/Helvetica-Black.woff') format('woff'), 
		 url('fonts/Helvetica-Black.ttf')  format('truetype'),
		  url('fonts/Helvetica-Black.svg#Helvetica-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTPro57Condensed';
	src: url('fonts/helveticaneueltpro-cn.eot');
	src: url('fonts/helveticaneueltpro-cn.eot') format('embedded-opentype'),  url('fonts/helveticaneueltpro-cn.woff2') format('woff2'),  url('fonts/helveticaneueltpro-cn.woff') format('woff'),  url('fonts/helveticaneueltpro-cn.ttf') format('truetype'),  url('fonts/helveticaneueltpro-cn.svg#HelveticaNeueLTPro57Condensed') format('svg');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Regular.otf')  format('opentype'),
	   url('fonts/MyriadPro-Regular.woff') format('woff'), 
	   url('fonts/MyriadPro-Regular.ttf')  format('truetype'),
	   url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Helvetica-Light.otf')  format('opentype'),
	     url('fonts/Helvetica-Light.woff') format('woff'),
		  url('fonts/Helvetica-Light.ttf')  format('truetype'),
		   url('fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Conv_MYRIADPRO-REGULAR';
	src: url('fonts/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('fonts/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
        text-rendering: optimizeSpeed !important;
}


html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background: #fff;
}
 body.home background:url(images/body-bg.jpg) repeat; {
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}


.page-id-59 #content p { clear: both; }

ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout

-------------------------------------------------------------- */
.em-search-wrapper {
  display: none;
}
td.event-img {
  padding: 0 !important;
  width: 200px;
}
.event-img > img {
  height: 190px;
  width: 200px;
}
.css-events-list {
  width: 97%;
}
.css-events-list td {
	border-bottom:1px solid #000;
}
.css-events-list td.event-details {
  padding-left: 12px !important;
  position:relative;
}
td.event-details a:link, td.event-details a:visited {
  position: absolute;
  top: 0;
  text-decoration:none;
  color:#6A3875;
}
.date-time {
  position: absolute;
  top: 30px;
  font-size: 15px;
}
td.event-details > p {
  font-size: 16px !important;
  position: absolute;
  top: 60px;
  text-align:justify;
}
td.event-details a:link, td.event-details a:visited {
  color: #6a3875;
  position: absolute;
  text-decoration: none;
  top: 0;
}
a#linksalpha_tag_493092958 {
  display: none !important;
}
a.read-more {
  font-weight: bold;
  position: absolute !important;
  top: 112px !important;
}
.mr_social_sharing_wrapper {
  float: right;
  position: absolute;
  right: 0;
  top: 167px;
  width: 32% !important;
}
.single-event .mr_social_sharing_wrapper {
  display: none;
}
.css-events-list + p + p {
  display: none !important;
}
/*

LAYOUT: Two columns

DESCRIPTION: Two-column fixed layout with one sidebar right of content

*/



#container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
#content {
  background: none repeat scroll 0 0 #e9e8e7;
  float: right;
  max-width: 745px;
  width: 100%;
}
#primary,  #secondary {
	float: left;
	overflow: hidden;
	width: 243px;
	/*background: url(images/side_bg.png) repeat-x;*/
	background-color:rgba(231,231,233,0.9);
	/*min-height: 596px;*/
	z-index: -1;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}
.menu_item {
	float: left;
	margin-right: 16px;
	margin-bottom: 17px;
	overflow: hidden;
}
.page-id-24 .menu_item {
  margin-bottom: 6px;
}

.menu_item.col4 {
	max-width: 227px;
}
.menu_item.col3 {
	max-width: 256px;
}

.menu_item.col2 {
	max-width: 470px;
}
.menu_item.col1 {
	max-width: 716px;
}
.menu_item h2 {
  color: #f0f0f0 !important;
  font-family: "Helvetica-Light";
  font-size: 16px;
  font-weight: normal !important;
  line-height: 51px !important;
  margin: 0 !important;
  padding-left: 11px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.menu_item:hover h2 {
    height: 70px;
    max-height: 220px;
    padding-top: 10px;
    transition: height 1s ease-in-out 1s;
}
.menu_item h2.indigo {
	background: #5c2568;
}
.menu_item h2.blue {
	background: #225a93;
}
.menu_item h2.yellow {
	background: #f9b515;
}
.menu_item h2.maroon {
	background: #b31212;
}
.menu_item h2.red {
	background: #bf1e2e;
}
.menu_item h2.grey {
	background: #606061;
}
.link_images .menu_item h2.yellow.indigo {
	color: #320033 !important;
}
.menu_item {
	position: relative;
	max-height: 188px;
}
.link_images p:empty {
	display: none;
}
.link_images .ad_height {
	line-height: 24px !important;
	padding-top: 8px;
	padding-bottom: 8px;
}
.board_members {
	padding-left: 32px;
}
.member {
	max-width: 183px;
	width: 100%;
	min-height: 274px;
	float: left;
	margin-right: 36px;
	margin-bottom: 18px;
}
.member img {
	width: 100%;
	border: 1px solid #5c2568;
}
.member h3 {
	font-size: 18px;
	line-height: 22px !important;
	margin-bottom: 0px !important;
}
.desig {
	color: #5c2568;
	font-size: 14px;
	line-height: 18px;
}
#main .widget-container .menu li.current-menu-item ,#main  ul.tb_side li.current_page_item {
	background: none;
	border-bottom: 2px solid #876090;
	width: 280px;
	padding-bottom: 10px;
}
#main ul.tb_side li.current_page_item a{color: #5c2568 !important;}
#main .tb_side li.current-menu-item a {
	color: #5c2568 !important;
}
.res_menu{ 
	position: relative;
	float: left;
	width: 100%;
	margin-top: 32px;
}
/*

LAYOUT: One column, no sidebar

DESCRIPTION: One centered column with no sidebar

*/



.one-column #content {
	margin: 0 auto;
	width: 640px;
}
/*

LAYOUT: Full width, no sidebar

DESCRIPTION: Full width content with no sidebar; used for attachment pages

*/



.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}
/* =Fonts

-------------------------------------------------------------- */

body,  input,  textarea,  .page-title span,  .pingback a.url {
	font-family: 'Conv_MYRIADPRO-REGULAR';
}
h3#comments-title,  h3#reply-title,  #access .menu,  #access div.menu ul,  #cancel-comment-reply-link,  .form-allowed-tags,  #site-info,  #site-title,  #wp-calendar,  .comment-meta,  .comment-body tr th,  .comment-body thead th,  .entry-content label,  .entry-content tr th,  .entry-content thead th,  .entry-meta,  .entry-title,  .entry-utility,  #respond label,  .navigation,  .page-title,  .pingback p,  .reply,  .widget-title,  .wp-caption-text {
	font-family: 'Conv_MYRIADPRO-REGULAR';
}
input[type="submit"] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure

-------------------------------------------------------------- */



/* The main theme structure */

#access .menu-header,  div.menu,  #colophon,  #branding,  #main,  #wrapper {
}
#wrapper {
	width: 100%;
}
/* Structure the footer area */

#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
.backstretch img {
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}
.inner_wraper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.home_tag {
	min-height: 126px;
	position: absolute;
	bottom: 62px;
	background: rgba(229, 183, 60, 0.9);
	width: 100%;
	display: none;
}
.home .home_tag {
	display: block;
}
.home_tag h1 {
	font-size: 46px;
	font-family: 'HelveticaNeueLTPro57Condensed';
	color: #5c2568;
	line-height: 71px;
}
.home_tag span {
	font-size: 30px;
	font-family: 'HelveticaNeueLTPro57Condensed';
	color: #5c2568;
}
#site-info {
	float: left;
	width: 100%;
	background: #000;
	min-height: 62px;
}
#site-info .inner_wraper {
	position: relative;
}
.footer_right {
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 13px;
}
.footer_social span {
	font-family: 'Conv_MYRIADPRO-REGULAR';
	font-size: 14px;
	width: 115px;
	line-height: 34px;
	float: left;
	margin-right: 6px;
	color: #fff;
}
.footer_social ul {
	margin-top: -3px;
}
.footer_social ul li {
	float: left;
	background: url(images/footer_social.png) no-repeat;
	width: 32px;
	height: 32px;
	list-style-type: none;
	text-indent: -9999px;
	margin-right: 8px;
}
li.tw {
	background-position: -40px 0px !important;
}
li.vm {
	background-position: -80px 0px !important;
}
li.fb {
	background-position: -120px 0px !important;
}
li.tm {
	background-position: -160px 0px !important;
}
/* =Global Elements

-------------------------------------------------------------- */



/* Main global 'theme' and typographic styles */



body,  input,  textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */

p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,  ol ol,  ul ol,  ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,  em,  i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,  blockquote em,  blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,  acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,  sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],  input[type="password"],  input[type="email"],  input[type="url"],  input[type="number"],  textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active,  a:hover {
	color: #ff4b33;
}
/* Text meant only for screen readers */

.screen-reader-text {
	position: absolute;
	left: -9000px;
}
/* =Header

-------------------------------------------------------------- */



#header {
	/*	background:url(images/header-bg.png) repeat-x;*/

	

	background: none;
	width: 100%;
	float: left;
	opacity: 0.9;
}
.home #header {
	background: url(images/head_shadow.png) repeat-x;
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}
/* This is the custom header image */

#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}
/* =Menu

-------------------------------------------------------------- */

.vav_wrap .inner_wraper {
	position: relative;
}
.vav_wrap {
	float: left;
	width: 100%;
	background: url(images/nav_bg.png) repeat-x;
	min-height: 32px;
}
.home .vav_wrap {
	min-height: 46px;
}
.home .vav_wrap {
	background: url(images/main_nav_bg.png) repeat-x;
}
#access {
	display: block;
	float: left;
	left: 236px;
	margin: 0 auto;
	position: absolute;
	top: 3px;
	width: 930px;
}
#access .menu-header,  div.menu {
	font-size: 13px;
	margin-left: 0;
}
#access .menu-header ul,  div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,  div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #fff;
	display: block;
	line-height: 30px;
	padding: 0 13px;
	text-decoration: none;
	font-family: 'HelveticaNeueLTPro57Condensed';
	font-size: 15px;
	text-transform: uppercase;
}
#access ul li:last-child a {
	padding-right: 0;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
	list-style: none;
	list-style-type: none;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #5c2568;
	padding-top: 4px;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	line-height: 1em;
	width: 150px;
	height: auto;
	color: white;
	padding: 6px 30px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'HelveticaNeueLTPro57Condensed';
	text-align: left;
}
#access ul ul a:hover{
	
}
#access li:hover > a,  #access ul ul :hover > a {
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,  #access ul li.current_page_ancestor > a,  #access ul li.current-menu-ancestor > a,  #access ul li.current-menu-item > a,  #access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,  * html #access ul li.current_page_ancestor a,  * html #access ul li.current-menu-ancestor a,  * html #access ul li.current-menu-item a,  * html #access ul li.current-menu-parent a,  * html #access ul li a:hover {
	color: #fff;
}
/* =Content

-------------------------------------------------------------- */



#main {
	clear: both;
	overflow: hidden;
	padding: 0px 0 0 0;
	z-index: -1;
}
#content {
	margin-bottom: 36px;
}
#content,  #content input,  #content textarea {
	color: #333;
	font-size: 18px;
	line-height: 24px;
}
#content p,  #content ul,  #content ol,  #content dd,  #content pre,  #content hr {
	margin-bottom: 18px;
}
#content p {
	color: #333333;
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
}
.page-id-22 #content p {
	color: #5c2568 !important;
}
.page-id-26 #content p {
	color: #000 !important;
}
#content ul ul,  #content ol ol,  #content ul ol,  #content ol ul {
	margin-bottom: 0;
}
#content pre,  #content kbd,  #content tt,  #content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,  #content th {
	color: #000;
}
#content h1,  #content h2,  #content h3,  #content h4,  #content h5,  #content h6 {
	color: #5c2568;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
h2.nxt-to {
  clear: right;
  float: left !important;
  margin-top: 30px !important;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,  #content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
	padding-left: 15px;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,  .page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,  .page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #5c2568;
	font-size: 35px;
	line-height: 1.3em;
	margin-bottom: 0;
	font-family: 'Helvetica-Black';
	text-transform: capitalize;
	margin-top: 25px;
	margin-bottom: 6px;
}
.page-id-24 #content .entry-title {
	color:#d09509;
}
.page-id-26 #content .entry-title {
	color:#bf1e2e;
}
li#search {
	background: #e1b346;
	line-height: 38px;
	padding-left: 16px;
}
.entry-title a:link,  .entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,  .entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,  .entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,  .entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,  .entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,  .entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,  .entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,  .page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,  .page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,  .entry-utility a {
	color: #777;
}
.entry-meta a:hover,  .entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}
/* =Asides

-------------------------------------------------------------- */



.home #content .format-aside p,  .home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,  .home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,  .home #content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing

-------------------------------------------------------------- */



.format-gallery .size-thumbnail img,  .category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,  .category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,  .home #content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages

-------------------------------------------------------------- */



.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images

-------------------------------------------------------------- */



/*

Resize images to fit the main content area.

- Applies only to images uploaded via WordPress by targeting size-* classes.

- Other images will be left alone. Use "size-auto" class to apply to other images.

*/

img.size-auto,  img.size-full,  img.size-large,  img.size-medium,  .attachment img,  .widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.link_images {
	float: left;
	margin-top: 24px;
}
.link_images br {
	display: none;
}
.alignleft,  img.alignleft {
	display: inline;
	float: left;
	margin-right: 35px;
	margin-bottom: 34px;
}
.alignright,  img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,  img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,  img.alignright,  img.aligncenter {
	margin-bottom: 32px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation

-------------------------------------------------------------- */



.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,  .navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,  .navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,  .single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments

-------------------------------------------------------------- */

#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,  h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,  #comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,  .comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,  .comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,  a.comment-edit-link {
	color: #777;
}
.reply a:hover,  a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,  .nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */

.widget_search input[type="submit"] {
	background: #5c2568;
	border: none;
	color: #fff;
	font-family: 'HelveticaNeueLTPro57Condensed';
	font-size: 16px;
	position: absolute;
	right: 14px;
	top: 8px;
	height: 23px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
input:focus {
	outline: none;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
/* =Widget Areas

-------------------------------------------------------------- */



.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search {
	position: relative;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 74%;
	border-radius: 5px;
	box-shadow: none;
}
.widget_search label {
	display: none;
}
#main .widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
	margin-top: 172px;
	list-style-type: none;
}
.widget-container .wp-caption img {
	margin: auto;
}
#main .widget-title {
  background: none repeat scroll 0 0 #e1b346;
  color: #fff;
  font-family: "HelveticaNeueLTPro57Condensed";
  font-size: 24px;
  line-height: 29px;
  list-style-type: none;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-top: 6px;
}
.page-id-22 #main .widget-title {background: #5c2568;}
.page-id-24 #main .widget-title {background: #d09509;}
.page-id-26 #main .widget-title {background: #bf1e2e;}

#main .widget-container .menu li , ul.tb_side li {
	margin-bottom: 12px;
	background: url(images/side_li.png) no-repeat center bottom;
	padding-bottom: 10px;
}
li.page_item.page-item-144 {
list-style-position: inside;
margin-left: 19px;
text-indent: -18px;
}
#main .widget-container .menu li:last-child , ul.tb_side li:last-child {background:none;}
#main .widget-container .menu li a, #main .widget-container .menu li a:hover {
	font-family: 'Conv_MYRIADPRO-REGULAR';
	font-size: 18px;
	color: #333333;
	padding-left: 18px;
	text-decoration: none;
}

#main ul.tb_side li a, #main ul.tb_side li a:hover {
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
	color: #333333;
	padding-left: 18px;
	text-decoration: none;
}
.widget-area a:link,  .widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,  .widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}
/* Main sidebars */

#main .widget-area ul , ul.tb_side {
	margin-left: 0;
	padding: 26px 20px 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}
/* Footer widget areas */

#footer-widget-area {
}
/* =Footer

-------------------------------------------------------------- */



.home #footer {
	position: fixed;
	bottom: 0;
}
#footer {
	background: #5c2568 url(images/footer_bg.png) no-repeat center top;
	float: left;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )

-------------------------------------------------------------- */



pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,  .entry-meta,  .entry-utility,  .navigation,  .widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}





/* =Print Style

-------------------------------------------------------------- */



@media print {
body {
	background: none !important;
}
#wrapper {
	clear: both !important;
	display: block !important;
	float: none !important;
	position: relative !important;
}
#header {
	border-bottom: 2pt solid #000;
	padding-bottom: 18pt;
}
#colophon {
	border-top: 2pt solid #000;
}
#site-title,  #site-description {
	float: none;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
#site-title {
	font-size: 13pt;
}
.entry-content {
	font-size: 14pt;
	line-height: 1.6em;
}
.entry-title {
	font-size: 21pt;
}
#access,  #branding img,  #respond,  .comment-edit-link,  .edit-link,  .navigation,  .page-link,  .widget-area {
	display: none !important;
}
#container,  #header,  #footer {
	margin: 0;
	width: 100%;
}
#content,  .one-column #content {
	margin: 24pt 0 0;
	width: 100%;
}
.wp-caption p {
	font-size: 11pt;
}
#site-info,  #site-generator {
	float: none;
	width: auto;
}
#colophon {
	width: auto;
}
img#wpstats {
	display: none;
}
#site-generator a {
	margin: 0;
	padding: 0;
}
#entry-author-info {
	border: 1px solid #e7e7e7;
}
#main {
	display: inline;
}
.home .sticky {
	border: none;
}
}
.inner_header {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	min-height: 110px;
}
.logo {
	width: 260px;
	position: absolute;
	left: 8px;
}
.top_menu {
	float: right;
	margin-top: 26px;
}
.top_menu ul {
	list-style-type: none;
	float: right;
	margin: 0;
}
.top_menu ul li {
  background: url("images/nav-bg.jpg") no-repeat scroll right center rgba(0, 0, 0, 0);
  float: left;
  padding: 0 24px 0 11px;
}
.top_menu ul li:first-child {
	/*background: none !important;*/
	padding-left: 0px !important;
}
.top_menu ul li a {
	text-decoration: none;
	color: #FFF;
	font-family: 'MyriadPro-Regular';
	font-size: 14px;
}
.home .top_menu ul li a {
	color: #fff;
}
.top_menu ul li:last-child {
	padding-right: 2px;
	background: none;
}
#wrapper .search {
	width: 550px;
	float: right;
	text-align: right;
	margin-top: 17px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueLTPro57Condensed';
}
#wrapper .search input#searchsubmit {
	background: url("images/zoom.png") no-repeat scroll center center #461c4f;
	border: medium none;
	cursor: pointer;
	height: 34px;
	text-indent: -9999px;
	width: 26px;
}
.home .main_footer {
	display: none;
}
#wrapper .search input#s {
	background: none repeat scroll 0 0 #f8f8f8;
	border: 1px solid #dadada;
	box-shadow: none;
	color: #2d2d2d;
	font-family: "HelveticaNeueLTPro57Condensed";
	height: 26px;
	margin: 0 -6px 0 0;
	opacity: 1;
	padding-bottom: 0;
	padding-left: 10px !important;
	padding-right: 0;
	padding-top: 3px;
	width: 340px;
}
.not-found {
	padding-left: 34px;
}
.home .search input#s {
	background: #fff;
}
.search input:focus {
	outline: none;
}
.inner_wrap {
	/*background:url(images/banner.jpg);*/

	float: left;
	width: 100%;
}
.inner_footer {
	max-width: 995px;
	margin: 0 auto;
	width: 100%;
}
.footer_col {
	float: left;
	margin-left: 23px;
	padding-top: 20px;
	width: 18.2%;
	max-width: 180px;
	width: 100%;
	list-style:none;
}

.footer_col:first-child {
	margin: 0;
}
.footer_col .widget-title {
	font-size: 15px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 7px;
	color: #FFF;
	font-family: 'Helvetica-Bold';
	
	margin-bottom: 5px;
}


.footer_col ul li a {
	text-decoration: none !important;
	color: #FFF;
	font-size: 11px;
	line-height: 21px;
}
.footer_col ul {
	margin-left: 0px;
	margin-bottom: 10px;
	list-style:none; 
}
.footer_right p {
	margin-bottom: 0px !important;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
#header .vav_wrap .nav {
    list-style: none;
     *zoom: 1;
     background:#175e4c;
	 display: none;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
	top: 32px;
	list-style-type: none;
	position: absolute;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #5c2568;
   
}
.nav a {
    display: block;
	color: white;
	padding: 6px 30px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'HelveticaNeueLTPro57Condensed';
	text-align: left;
}
.nav li {
    position: relative;
}
.nav li {
    display: block;
	padding: 1px 0;
	margin: 0 5px;
	border-bottom: solid 1px #000;
}
.nav  li  .parent {
    /*background-image: url("images/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: 155px 13px;
}
.nav li  a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
	display: block;
	width: 100%;
}
.nav  li.hover ul {
    left: 0;
	position: static;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
	position: static;
}
.nav li li a {
    display: block;
    position: relative;
    z-index:100;
    background: #797979;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.menu-item-has-children:hover .sub-menu { display:block; }
#nav-trigger, a.toggleMenu {
	width: 55px;
	background: #fff;
	padding: 6px 17px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #222222;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 3px #000;
	display: block
	float: left;
}
.widget-title.side{ margin-top:172px;}

/* responsive starts here
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: left;
  cursor: pointer; }
  #nav-trigger span {
    /*padding: 4px 32px;
	background-color: #FFFFFF;
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	color: #000;
	font-family: 'HelveticaNeueLTPro57Condensed';
	font-size: 16px;
	text-transform: capitalize;*/
}
    #nav-trigger span:after {
    
      margin-left: 10px;
      width: 20px;
      height: 10px;
     
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
	top: 35px;
    list-style-type: none;
    position: absolute;
    width: 50%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #5c2568; }
  nav#nav-mobile li {
    display: block;
    padding: 1px 0;
    margin: 0 5px;
    border-bottom: solid 1px #000; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
	color: white;
	padding: 6px 30px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'HelveticaNeueLTPro57Condensed';text-align: left; }
  nav#nav-mobile a:hover , .nav li a:hover {
    background-color: #F5F5F5;
	color: #000; }
.inner_header{}

.slicknav_icon {
	float: right;
	margin: 0.188em 0 0 0.438em;
	position: absolute;
	top: 4px;
	right: 10px;
}
.slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	/* -webkit-border-radius: 1px; */
	-moz-border-radius: 1px;
	/* border-radius: 1px; */
	/* -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); */
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #f5f5f5;
	height: 2px;
	font-weight: normal;
	margin-top: 0.189em;
}
.slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.189em;
}
.slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.189em;
}
/* =Sections
-------------------------------------------------------------- */
section h1 {
  margin-bottom: 10px; }

section p {
  margin-bottom: 30px; }
  section p:last-child {
    margin-bottom: 0; }
	

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  


 }
@media screen and (max-width: 1190px){
	#content{ max-width:880px;}
}
@media screen and (max-width: 1160px) and (min-width: 1024px){
	.nav.mm{ display:none !important;}
	#access{max-width: 750px; width:100%;}
	#access a{padding: 0 12px;font-size: 12px;}
	#footer .inner_wraper{width:96%;}
	#content {margin-right: 10px;max-width: 710px;}
	.main_footer {width: 98%;margin: 0 auto;}
	.footer_col { width:23%;}
	.logo img{width: 90%;}
}	
@media screen and (max-width: 1023px){
	.vav_wrap #nav-trigger, .toggleMenu { display: block;position: absolute;right: 8px;top: 3px; }
	nav#nav-mobile {margin: 0;}
	.nav.mm{ position: absolute;right: 0;width: 50%;text-align: center;}
	nav#nav-main , #access { display: none; }
    nav#nav-mobile {display: block; }
	#footer .inner_wraper{width:96%;}
	.home_tag h1{ font-size:40px;}
	.home_tag span{ font-size:24px;}
	.top_menu ul li{padding: 0px 18px 0px 12px;}
	#content {margin-right: 10px;max-width: 700px;}
	#primary{left: 0;right: 0;margin: 0 auto;float: none;clear: both;width: 60%; min-height:200px; margin-bottom:24px !important;	}
	#main .widget-container .menu li.current-menu-item, #main ul.tb_side li.current_page_item{ width:100%;}
	.main_footer {width: 98%;margin: 0 auto;}
	.footer_col { width:45%;}
	.footer_col:first-child{ margin-left:26px;}
	.inner_header {float: left;width: 100%;}
	.logo img{width: 66%;}
	
}
@media screen and (max-width: 768px){
	#primary{left: 0;right: 0;margin: 0 auto;float: none;clear: both;width: 60%; min-height:200px; margin-bottom:24px !important;	}
	.widget-title.side{ margin-top:0;}
	#content{ margin-bottom:10px;}
}

@media screen and (max-width: 767px) and (min-width: 600px){
	.top_menu .menu-header{ display:none;}
	.inner_header{ float:left; width:100%;}
	.inner_header #nav-trigger { display: block;position: absolute;right: 0px;top: 6px; }
	.inner_header nav#nav-mobile ul{ z-index:1;}
	#main{ min-height:350px;}
	.logo img{width: 70%;}
	.home #footer{ position:relative;}
	.home_tag{ min-height:90px;}
	.home_tag h1{ font-size:34px;line-height: 50px;}
	.home_tag span{ font-size:20px;}
	#wrapper .search{max-width: 376px;width: 100%;margin-top: 56px;}
	.footer_social span{ margin-right:0; width:100px;font-size: 13px;}
	.footer_right{ font-size:12px;}
	.top_menu{ margin-top:0;}
	.toggleMenu{ display:block;}
	.nav.mm{ display:block;}
	.active {
        display: block;
    }
    .nav li {
        float: none;
    }
    .nav  li .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav  li.hover  ul , .nav li li.hover ul {
        position: static;
    }
	.footer_col { width: 45%;}
	#primary{left: 0;right: 0;margin: 0 auto;float: none;}
	.widget-title.side{ margin-top:0;}
	#content{ margin-bottom:10px;}
	.menu_item{ margin-right: 16px}
	

}
@media only screen and (max-width: 599px){
	.inner_header{ float:left; width:100%;min-height: 215px;}
	.logo {left: 0;right: 0;margin: 0 auto;text-align: center;top: 0;}
	.logo img{ width:56%;}
	.menu-header{ display:none;}
	#wrapper .search{width: 98%;position: absolute;left: 0;right: 0; bottom:0px;}
	#wrapper .search input#s{width: 89%;}
	.home_tag{ bottom:140px;}
	.home_tag h1{font-size: 28px;line-height: 32px;padding-top: 10px;}
	.home_tag span{ font-size:18px;}
	.vav_wrap #nav-trigger{ left:0; right:0; margin:0 auto; width:50%;}
	nav#nav-mobile ul{ left:0; right:0; width:80%;}
	.home #main{min-height: 480px;}
	#site-info{min-height: 140px;}
	.home #footer{ position:relative;}
	.home .home_tag{}
	.footer_social{position: absolute;left: 0;right: 0;margin: 0 auto;width: 100%;text-align: center;}
	.footer_social span{left: 0;right: 0;margin: 0 auto;width: 120px;top: 3px;position: absolute;}
	.footer_social ul {position: absolute;left: 0;right: 0;margin: 0 auto;width: 100%;max-width: 200px;top: 42px;}
	.footer_right{position: absolute;bottom: -125px;left: 0;right: 0;margin: 0 auto;float: none;text-align: center;}
	a.toggleMenu{position: absolute;left: 0;right: 0;margin: 0 auto;max-width: 70px;width: 100%;}
	.nav.mm{margin: 0px auto;top: 2px; left:0; width:70%;}
	.nav ul{ left:0;}
	.footer_col { width: 50%;margin: 0 auto !important;float: none;left: 0;right: 0;;}
	#primary{left: 0;right: 0;margin: 0 auto;float: none;width: 90%;}
	.widget-title.side{ margin-top:0;}
	#content{ margin-bottom:10px;}
	.menu_item.col3{ max-width: 250px;}
	.menu_item{margin-right: 8px;}

}
@media screen and (max-width: 375px) and (min-width: 320px){
	#wrapper .search{ width:97%;}
	#wrapper .search input#s{ width:80%;}
	.link_images {float: none;}
	.menu_item{ margin-right: 0px; margin:0 auto; float:none; margin-bottom:10px;}
	.menu_item.col3{ max-width: 100%;}
	.menu_item.col2 { max-width: 342px }
	.menu_item.col4 h2 { width:96%; }
	.menu_item h2 { max-width:327px; width:100%; }
	.menu_item.col2 img { max-width: 99%; }
	#content { margin-right:0; }
	.alignleft, img.alignleft { margin-right: 15px; }
	h2.nxt-to { font-size:21px; }

}



