/*
Theme Name: Habib
Author: Hassan Ali (Optimistic stylesheet for landing page) 
Author URI: https://habib.edu.pk/
Version: 5.0
Theme URI: https://habib.edu.pk/
Text Domain: habib
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.item.campaign-card.fstbx {
    min-height: 272px;
}
.HU_response div {
    width: 270px;
    float: left;
    margin-right: 20px;
    min-height: 310px;
    height: 170px;
}

.homebox h2 {font-family: 'Noto Sans', sans-serif !important;}
.fadein { position:relative; height:190px; }
.fadein img { position:absolute; left:0; top:0; }

.page.page-id-261468 .inner_header {
    max-width: 1400px;
}
.page.page-id-261468 .home .logo, .page-template-home-page .logo {
    left: 25px;
    margin-top: 12px;
}
.page.page-id-261468 .inner_header .logo {
    left: 25px;
    z-index: 999;
    /* margin-top: 12px; */
}
.page.page-id-261468 .inner_wraper {
    max-width: 1400px;
}
.hubynumb_box{
   float: left;
    width: 31.3%;
    background: #5c2568;
    margin: 1%;
    text-align: center;
    color: #fff!important;
    text-decoration: none!important;
    padding: 40px 20px;
    border-radius: 6px;
    font-size: 42px;
    font-weight: 600;
    transition: 0.3s;
	height:190px;
}
.hubynumb_box:hover{
    padding: 35px 20px;
    height: 190px;
}
.hubynumb_box p {
    font-size: 22px;
    font-weight: 100;
}
.homeNewsEvents3 article img, .homeNewsEvents2 .hucontent article img, .homeNewsEvents .hucontent article img {
    border-radius: 6px 6px 0 0;
}
.container-hubynumbers{
    background-color: #f6f2e8;
    padding: 30px 27px 30px;
    overflow: hidden;
	float: left;
	width:100%;
	margin-top:40px;
}
.hubynumb_box::before{
     background-image: url("/docs/landing/Group-33.svg");
     background-repeat: no-repeat;
    width: 106px;
    content: " ";
    position: absolute;
    margin-left: -170px;
    margin-top: -80px;
    height: 80px;
}
.hubynumb_box .before{
     background-image: url("/docs/landing/Group-33.svg");
     background-repeat: no-repeat;
    width: 106px;
    content: " ";
    position: absolute;
    margin-left: -170px;
    margin-top: -80px;
    height: 80px;
}
#hubynumb_box2::before{
     background-image: url("/docs/landing/Group-34.svg");
     background-repeat: no-repeat;
    width: 106px;
    content: " ";
    position: absolute;
    margin-left: -200px;
    margin-top: -80px;
    height: 80px;
}
#hubynumb_box3::before{
     background-image: url("/docs/landing/Group-35.svg");
     background-repeat: no-repeat;
    width: 106px;
    content: " ";
    position: absolute;
    margin-left: -170px;
    margin-top: -80px;
    height: 80px;
}
.container-hubynumbers h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    color: #5b2867;
}
.homeNewsEvents article .art_content2 {
    padding: 10px 0 0 10px;
    border: 1px solid #5c2568;
    border-top: none;
    margin: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 3px 0px #c5c5c5;
    height: 110px;
}
.art_content2 h3, .art_content3 h3 {
    color: #000;
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    width: 220px;
}
.art_content2 a {
    border-radius: 6px;
    background: #5b2867;
    color: #c7af90;
    padding: 6px;
    margin-left: 7px;
}

.art_content2 a:hover {color:#c7af90}

.homeNewsEvents article .art_content3 {
    padding: 30px 0 0 10px;
    background: #f2f2f2;
    border-top: none;
    margin: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 3px 0px #e0e0e0;
    height: 80px;
}
.homeNewsEvents2 {
    float: left;
    margin-top: 0;
    width: 100%;
    clear: both;
    padding-top: 10px;
}
.homeNewsEvents2 article {
    margin-left: 1%;
    background-color: #fff;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    text-align: center;
	width: 33.3%;
}
.homeNewsEvents3 article {
    width: 18.6%;
    float: left;
    margin-left: 1.2%;
    background-color: #fff;
    color: #111;
    min-height: 292px;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
}
.homeNewsEvents2 .hucontent {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    margin: auto;
}
.homeNewsEvents3 {
    float: left;
    margin-top: 40px;
}
.homeNewsEvents3 .hucontent {
    display: inline-block;
    overflow: hidden;
    padding: 20px;
    margin: auto;
}
.homeNewsEvents3 h2 {
    text-align: center;
    color: #5b2867;
}
.art_content4 h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    border: 0px solid #5c2568;
    border-top: none;
    margin: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 3px 14px 0px rgb(197 197 197 / 45%);
    height: 70px;
    color: #5c2568;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif !important;
}
.homeNewsEvents3 .art_content2 {
    border: 0px solid #5c2568;
    border-top: none;
    margin: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 3px 14px 0px rgb(197 197 197 / 45%);
    height: 100px;
}
.homeNewsEvents2 h2, .homeNewsEvents3 h2{
    color: #5b2867;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 0px;
    /* margin-bottom: 40px; */
}
.justifyflex{
    display: inline-block;
    }
.video-thumbnail1{position:relative;display:inline-block;cursor:pointer;filter:grayscale(100%);}
.video-thumbnail1:hover{filter:none;}
.video-thumbnail1::before{position:absolute;top:62%;left:20%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);content:"\f144";font-family:FontAwesome;font-size:60px;color:#fff;opacity:.8;cursor:pointer;text-shadow:0px 0px 30px rgba(0, 0, 0, 0.3);z-index:1;}
.video-thumbnail1:hover::before{color:#f9b516;}
.video-thumbnail1:hover{transform:scale(1.011) !important;transition:all .1s linear;-moz-transition:all .1s linear;-webkit-transition:all .1s linear;}
.homeNewsEvents2 article:hover{transform:scale(1.03);}
.homeNewsEvents3 article:hover {    transform: scale(1.03);}

.selector {
    color: #5c2568;
    position: absolute;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-top: auto;
    margin-left: -70px;
    left: 50%;
    top: 1000px;
}


.jumbotron-lc{
    text-align: center;     margin-top: 50px; margin-bottom: 30px;
}

.selector,
.selector button {
  font-weight: 300;
}

.wc_content_lc {
    position: initial;
    width: 95%;
    margin: auto;
    font-size: 15px;
    line-height: 21px;
}

.selector button {
    background: #cdb98f;
    position: relative;
    width: 110%;
    height: 110%;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    color: #5c2568;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
	margin-top:-32px;
	margin-left: -11px;
}



/*.selector button:hover { background: #3071a9; }*/ 

.selector button:focus { outline: none; }

.selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -50px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  transition: all 0.8s ease-in-out;
}

.selector li input { display: none; }

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 120%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover { background: #f0f0f0; }

.selector li input:checked + label {
  background: #225a93;
  color: white;
}

.selector li input:checked + label:hover { box-shadow:  2px 3px 32px rgb(76 18 89 / 41%); }

.selector.open li input + label {
    color: #fff;
    background: #5c2568;
    width: 160px;
    height: 160px;
    line-height: 18px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px;
}

.bgimg_liberalcore{
    content: '';
    height: 52%;
    background: url(/docs/app-images/liberalcore-bg.jpg) center no-repeat!important;
    background: #F6F2E8;
    background-size: cover!important;
}


 
.selector ul > li > label > a {
    color: white;
    text-decoration: none;
}

.cst-pop >h1> img {
    margin-right: 10px;
}

.cst-pop hr{
    border: 2px solid #5c2568;   
}

.cst-pop p{
    text-align: left;   
}
a.btn_liberalcore{
    text-decoration: none;
    background: #f6f2e8;
    padding: 10px 120px;
    color: white;
    color: #5b2867; 
}

a.btn_liberalcore:hover{
    background: #5b2867;
    color: #fff; 
}


.btn_liberalcore{
    border: 1px solid #5b2867; 
}

.selectorac {
    color: #5c2568;
    position: absolute;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-top: auto;
    margin-left: -70px;
    left: 50%;
    top: 300px;
}
.selectorac,
.selectorac button {
  font-weight: 300;
}
.selectorac button {
    background: #cdb98f;
    position: relative;
    width: 110%;
    height: 110%;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    color: #5c2568;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
	margin-top:-15px;
}
.selectorac ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -50px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.selectorac li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  transition: all 0.8s ease-in-out;
}

.selectorac li input { display: none; }

.selectorac li input + label {
  position: absolute;
  left: 50%;
  bottom: 120%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selectorac li input + label:hover { background: #f0f0f0; }

.selectorac li input:checked + label {
  background: #225a93;
  color: white;
}

.selectorac li input:checked + label:hover { box-shadow:  2px 3px 32px rgb(76 18 89 / 41%); }  

.selectorac.open li input + label {
        color: #fff;
    background: #5c2568;
    width: 160px;
        height: 160px;
    line-height: 18px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 18px;
    font-weight: 500;
}
.selectorac ul > li > label > a {
    color: white;
    text-decoration: none;
}

.mv-circle{

    display: none;
}
.my-class{text-align: left;}

.heading-h1{

    text-transform: uppercase;  
    font-size: 28px;  
    font-weight: 600;    
    text-transform: uppercase;    
    color: #5c2568;
}

.selectorlc {
    color: #5c2568;
    position: absolute;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-top: auto;
    margin-left: -70px;
    left: 50%;
    top: 300px;
}
.selectorlc,
.selectorlc button {
  font-weight: 300;
}
.selectorlc button {
    background: #cdb98f;
    position: relative;
    width: 110%;
    height: 110%;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    color: #5c2568;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
	margin-top:-15px;
}
.selectorlc ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -50px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.selectorlc li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  transition: all 0.8s ease-in-out;
}

.selectorlc li input { display: none; }

.selectorlc li input + label {
  position: absolute;
  left: 50%;
  bottom: 120%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selectorlc li input + label:hover { background: #f0f0f0; }

.selectorlc li input:checked + label {
  background: #225a93;
  color: white;
}

.selectorlc li input:checked + label:hover { box-shadow:  2px 3px 32px rgb(76 18 89 / 41%); }  

.selectorlc.open li input + label {
        color: #fff;
    background: #5c2568;
    width: 160px;
        height: 160px;
    line-height: 18px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 18px;
    font-weight: 400;
}
.selectorlc ul > li > label > a {
    color: white;
    text-decoration: none;
}


/*Mobile Media Query*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    #wrapper .search{left: 0!important;}
    .homeNewsEvents2 .hucontent{display: block;}
    .homeNewsEvents2 article {    width: 100%;    /* margin-top: 20px; */}
    .container-hubynumbers{margin:0px;}
    .homeNewsEvents{padding-top: 0px;}
    .homeNewsEvents2 .hucontent, .homeNewsEvents h2{padding-bottom:0px;}
    .homeNewsEvents2 h2, .homeNewsEvents3 h2, .container-hubynumbers h2{}
    .hubynumb_box {width: 100%; margin-bottom: 50px;}
    .homeNewsEvents3 {width: 100%;}
    .homeNewsEvents3 .hucontent {display: block;}
    .justifyflex { display: block;}
    .hucontent article {    width: 100%;    margin-bottom: 20px;}
    .art_content2 h3, .art_content3 h3 {  width: auto;  text-align: center; font-size: 18px; height: 40px; height: auto; padding-top: 10px;}
    .video-thumbnail1::before{    top: 50%;    left: 50%;}
    .art_content2 a{padding: 8px;}
    .homeNewsEvents3 .art_content2{text-align: center;     height: auto;    padding-bottom: 20px;}
    .search_mid_nav{display: none;}
    .inner_header .top_menu { width: 100%;}
    .top_menu{display: none !important;}
    #wrapper .search {    text-align: center;}
    .cst-txt-sli-icon{display: none;}
    .cst-txt-sli{font-size: 20px; top: 50%;}
    .cst-txt-sl1.mappara { display: none;}
    .cst-hm-btns-covid a{padding: 6px 8px;    font-size: 10px;  width: 200px;    text-align: center;} 
    
    .adms-video{height:360px;     margin-top: -22.8%;}
    .menu_item.col4{max-width: 100%;}
    .admvideos p a img { width: 31.5%;}

    .wc_section_academics{display:none !important;}
    .wc_section_liberal{display:none !important;}

    .selector , .bgimg_liberalcore{ display: none;}

    


    .mv-circle{ display: block; height: 490px; margin: 0px auto; max-width: 320px;} 
    /* .mv-circle-2{    
        text-align: center;
        color: white;
        width: 140px;
        height: 140px;
        background: #5c2568;
        border-radius: 140px 140px; 
        float: left;
        margin: 7px;
    }

    .mv-circle-content{
        font-size: 18px;
        height: 25px;
        font-weight: bold;
        padding: 5px;

    }

    .mv-circle-1{    
        text-align: center;
        color: white;
        width: 140px;
        height: 140px;
        background: #5c2568;
        border-radius: 140px 140px;
        margin-left: 85px;
        margin-top: 308px;
        position: absolute;
    } */

   

    .row { margin-right: -25px !important;}

    .my-class{text-align: center;}
}
@media only screen 
  and (max-device-width: 320px) {

        
   

    .selector_circle{ margin-left: -20px; width: 145px; height: 145px;}

    .my-class{text-align: center;}

  }

/* 
@media only screen 
  and (max-device-width: 280px) {

    .mv-circle{ display: block; height: auto; margin: 0px auto; max-width: 320px;} 
    .mv-circle-2{    
        width: 250px;
        height: 250px;
        background: #5c2568;
        border-radius: 250px 250px; 
        float: left;
        margin: 5px;
    }

    .mv-circle-1{    
        width: 250px;
        height: 250px;
        background: #5c2568;
        border-radius: 250px 250px;
        margin-left: 5px;
        margin-top: 785px;
        position: absolute;
    }
  } */
  
  
 