
.ofp-container{
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
}

.ofp-container{

    width: 100%;
    margin-top: 40px;

}

.cst-box-right{
    width: 42%;
    height: 500px;
    float: right;
    /* background-color: lightgray; */
    margin: 4px;
    padding-right: 20px;
}
.cst-row-content{
    padding: 20px;
}

.cst-box-right img{
    height: 430px;
    margin-top: 35px;
}

.cst-box-left{
    width: 50%;
    height: 460px;
    float: right;
    /* background-color: lightpink; */
    margin: 4px;
    padding: 20px;
}

.cst-row-content h1 , .cst-box-left h1{
    color: #5c2568;
    font-weight: bold;
}
.cst-box-left h1{
    padding-top: 135px;
    padding-bottom: 25px;
}

.cst-box-left p{
    color: #5c2568;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.cst-box-left a{
    padding: 12px;
    background: none;
    border: 2px solid #5c2568;
    color: #5c2568;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.cst-row{
    clear: both;
}

.padding-botom-40{
    padding-bottom: 40px;
}

.carousel-heading-h2{
    text-decoration: none;
    color: #5c2568;
    font-weight: 800;
    text-align: center;
    margin-top: -20px;
}

.item.campaign-card p {
    padding: 15px;
}

.cst-row-content {
    padding: 70px;
    /* background-image: url(https://habib.edu.pk/wp-content/uploads/2021/03/MicrosoftTeams-image-5.png); */
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 140px;
    /* padding-top: 100px; */
    padding-bottom: 40px;
    
}

.cst-row-content p{
    text-align: center;
    font-size: 16px;
    color: black;
    padding-top: 30px;
    line-height: 1.5;
}

.cst-row-content h1{
    line-height: 1.5;
    text-align: center;
}



.owl-nav
{
    width: 960px;
    margin-left: -43px;
}

.para-link a{
    color: #5c2568 !important;
    text-decoration: none;
    background: #f5f5f5;
}
.para-link{
    line-height: 1.7;
}

.owl-theme .owl-nav [class*=owl-]{

    color: #FFF !important;
    font-size: 14px !important;
    margin: 5px !important;
    padding: 4px 7px !important;
    background: none !important;
    display: inline-block !important;
    cursor: pointer !important;
    border-radius: 3px !important;
    margin-top: -135px !important;

}

.item.campaign-card a {
    text-decoration: none;
}

.item.campaign-card a img
{
    margin-top: -40px;
}

.archieves{
    text-align: center;
    padding-bottom: 50px;
    margin-top: 20px;
}

.archieves a{
    padding: 12px;
    background: none;
    border: 2px solid #5c2568;
    color: #5c2568;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.archieves a:hover , .cst-box-left a:hover{
    background: #5c2568;
    color: white;
}


@media only screen and (max-width: 480px)
{

    .cst-box-right , .cst-box-left{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    .cst-box-left{
        margin-bottom: 30px;
    }
    .cst-box-left h1{
        padding-top:0px;
    }
    .cst-row-content{
        padding: 0px;
    }

    .cst-row-content p img {
        width: 100%;
    }

    .cst-box-right img {
        width: 100%;
        height: auto;
    }
    .cst-row-content p{
        text-align: left;
    }
    .view-profile {
        text-align: center;
    }

    .item.campaign-card p {
        text-align: center;
    }
}
