/*
For : Wics
Author: Hassan Ali
Version: 1.0
*/


body.page-template-page-wicse-center #wrapper #header {
	
}
body.page-template-page-wicse-center .mw_arzu_slider {
	
}
body.page-template-page-cmd-events .mw_center_logo,
body.page-template-page-cmd-center .mw_center_logo,
body.page-template-page-wicse-center .mw_center_logo,
body.page-template-page-arzu-events .mw_center_logo {
	width: 1000px; margin:0 auto; text-align:right;
	
}
.mw_center_logo img{ width:20%; padding-bottom:10px;    margin-top: 0px !important;}

body.page-template-page-cmd-events #main,
body.page-template-page-cmd-center #main,
body.page-template-page-wicse-center #main,
body.page-template-page-arzu-events #main {
	background-color: #fff;
    max-width: 1000px;
    margin: auto;
}
.mw_arzu_menu_testimonial {
	margin-bottom:40px;
}
.mw_arzu_menu_testimonial .widget_nav_menu {
/*	october 27 - margin-top: -74px;*/
    height: 24px;
    background-color: #5d2566;
    text-align: center;
    z-index: 99;
    position: relative;
    padding: 20px 0 15px;
}
.mw_arzu_menu_testimonial .widget_nav_menu ul { margin:0; }
.mw_arzu_menu_testimonial .widget_nav_menu li {
	display:inline-block;
	list-style:none;
	margin:0 10px;
	border-right: 1px #fff solid;
    padding-right: 20px;
}

.mw_arzu_menu_testimonial .widget_nav_menu li:last-child {
	display:inline-block;
	list-style:none;
	margin:0 10px;
	border-right: 0px #fff solid;
    padding-right: 20px;
}
.mw_arzu_menu_testimonial .widget_nav_menu li a {
	color:#fff;
	text-decoration:none; font-weight:bold; text-transform: uppercase;
}
.mw_arzu_menu_testimonial .widget_text {
	padding:20px 30px;
	background-color:#235a93;
	color:#fff;
}
.mw_arzu_tag {margin-top:20px;}

body.page-template-page-cmd-events .mw_arzu_tag,
body.page-template-page-wicse-center .mw_arzu_tag,
body.page-template-page-arzu-events .mw_arzu_tag {
	margin-bottom: 30px;
    overflow: hidden;
}

body.page-template-page-cmd-center p:empty, 
body.page-template-page-wicse-center p:empty {
	display:none;
}
body.page-template-page-cmd-center .mleft,
body.page-template-page-wicse-center .mleft {
	float:left;
	line-height: 22px;
	padding-left: 0px;
	padding-top: 20px;
}
body.page-template-page-cmd-center .mleft > br:first-child,
body.page-template-page-wicse-center .mleft > br:first-child {
	display:none;
}

body.page-template-page-cmd-center .mleft h2,
body.page-template-page-wicse-center .mleft h2 {
	font-size: 24px;
    color: #321538;
    font-weight: 400;
	margin-bottom: 15px;
}

body.page-template-page-cmd-center .mleft p,
body.page-template-page-wicse-center .mleft p {
	margin-bottom:10px;
}

body.page-template-page-cmd-center .mright,
body.page-template-page-wicse-center .mright {
	float:right;
	padding-right: 20px;
}
.box_list {
	background-color:#fff;
	overflow:hidden;
	font-size: 13px;
    line-height: 18px;
}
.box_list.arzu {
	height: 350px;
    overflow-y: scroll;
}
.box_list.wicse {
    padding: 15px;
}
.box_list h3 {
	font-size: 22px;
    color: #321538;
    font-weight: 600;
    border-bottom: #fff 1px solid;
    line-height: 40px;
    /* padding-left: 15px; */
    padding-top: 8px;
    padding-bottom: 5px;
}
.box_list .blist {
	margin: 15px 15px 10px 15px;
    border-bottom: #fff 1px solid;
    width: 100%;
    padding-bottom: 5px;
    max-width: 320px;
    float: left;
}
.box_list .blist:last-child {
	border-bottom:0 none;
	padding-bottom: 0;
}
.box_list .blist > br {
	display:none;
}
.box_list .blist > div {
	float: right;
    max-width: 230px;
	width: 100%;
}
#connected {
	background:#5c2568;
	width:100%;
	margin:10px auto;
	padding:0px 0px;
	color:#fff;
	display:block;
	overflow:hidden;
	float:left;
}
#connected-cmd {
	background:#e0e0e0;
	width:100%;
	margin:10px auto;
	padding:0px;
	color:#23282d;
	display:block;
	overflow:hidden;
	float:left;
}
.contact {
	float:left;
	padding-left:20px;
	width: 36%;
	padding-top: 30px;
}
.contact-cmd {
		float:left;
	padding:30px;
	width: 200px;
}
.contact h3 {
	font-size:24px;
	color:#ffffff;
	line-height: 36px;
}
.contact h4 {
	font-size:18px;
	color:#ffffff;
	line-height:24px
}

.contact a {
    color: #ffff;
}
.contact p {line-height:20px; color:#ffffff;}
.form-label {color:#ffffff !important;}

.map {float:right; padding-right:0px;     width: 64%;}
.map-cmd {
    float: right;
    padding: 0px;
    width: 730px;
    height: 300px
}
#arzu_event {
	float:left;
	width:980px;
	background-color: #212121; color:#fff; padding:30px 10px 10px 10px; margin-top:20px; margin-bottom: 10px;
}
#arzu_event h2 {font-size:20px; color:#fff;}

#arzu_event h3 {font-size:18px; padding-bottom:10px;}

#arzu_event_past {
	float:left;
	width:985px;
}
#arzu_event_past {
	padding:15px 0 15px 15px;
}
#arzu_event_past h2 {
		font-size:24px;
	color:#5a5a5a;
	line-height: 36px; }
#arzu_event_past h3 {
		font-size:24px;
	color:#5a5a5a;

}
#arzu_event_past .row {
	float:left;
	width: 28.6%;
	padding: 14px;
	margin-right: 15px;
	border:1px solid #7b5483;
	color:#551255;
	font-size:12px;
}
#arzu_event_past .row img {
	width: 100%;
}
#arzu_event_past .row h3 {
	color: #7b5483;
	font-size:14px;
	font-weight:bold;
}
#arzu_event_past .row h3 a {
	color: #270f4b;
	text-decoration:none;
}
#arzu_event_past .row h4 {
	
}
#arzu_event_past p a[rel="wp-video-lightbox"],
.btn {
    background-color: #f9b515;
    border-radius: 4px;
    color: #5c2568;
    padding: 5px;
    text-align: center;
    width: 150px;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
#arzu_event_past p a[rel="wp-video-lightbox"][href="#"] {
    display: none;
}
#arzu_event_past p:empty {
	display:none;
}
#wrapper .btn {
	color:#5d2566;
}
#wrapper .btn:hover {
	color:#bf1e2e;
}
body.page-template-page-wicse-center {
	
}
.custom > div h3 a {
	line-height: 30px;
    text-decoration: none;
    color: #5a5a5a;
}
.custom > div h4 {
	
}

.arconix-list {
	display: inline-block;
    width: 25%;
    padding: 5px;
    text-align: center;
}
.arconix-list h4 {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 0px;
}
.arconix-list h4 a {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 0px;
}
.arconix-list p {
    font-size: 13px;
    color: #000;
}
.box_list.wicse {
	/* overflow-y: scroll;
    height: 270px; */
	height: auto;
    width: 102%;
}
.box_list.wicse > .blist {
	margin-bottom: 0;
	padding-bottom: 10px;
}
.box_list.wicse > .blist > img {
	
}
.box_list.wicse > .blist > div {
	width:100%;
}
.box_list.wicse > .blist > div > p {
	margin-bottom:0;
}
.box_list.wicse {
    display: flex;
}
.wicse_pbox {
	float: left;
    width: 31.7%;
    padding: 14px;
    margin-right: 15px;
    border: 1px solid #7b5483;
    color: #551255;
    font-size: 12px;
}

.wicse_pbox {
    width: 48%;
    float: left;
    height: 238px;
    margin-left: 7px;
    margin-right: 7px !important;
    margin-bottom: 7px !important;
    border: 1px solid #d2d2d2;
    background-color: #f4f4f4;
	padding: 0px;
}
.wicse_pbox img {
    width: 100%;
    height: 170px!important;
    object-fit: cover;
}
h4.ycsdTitle {
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    background: #ffffff!important;
    margin: 0px!important;
	font-size: 17px;
    font-weight: 500;
    text-align: center;
}	
h4.ycsdTitle a {
    color: #000000;
	text-decoration: none;
    line-height: 20px;
}
.ycsdBtn {
    width: 34%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    top: -158px;
    display: none;
}
a.pressRelease {
    background-image: none;
    position: absolute;
    font-size: 22px;
    padding: 8px 10px;
    border: 1px solid #fff;
    background-color: #ffffff00;
    color: #fff!important;
}
.ycsdBtn a {
    display: block !important;
    color: #fff;
    line-height: 30px;
    float: left;
    text-decoration: none;
    position: relative;
    padding-left: 0;
    width: 100%;
    text-align: center;
}
.wicse_pbox:hover {
    background-color: #000;
}
.wicse_pbox:hover .ycsdBtn {
    display: block;
}
.wicse_pbox:hover img {
    opacity: 0.3;
}
/*

.phyLab .fullwidth .topImg:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 81px;
    background: url(images/isam.png) center center no-repeat;
    background-size: 250px 81px;
    right: 0px;
    z-index: 1;
    top: 0px;
    padding: 10px;
    background-color: rgba(91, 40, 103, 0.14);
    border-radius: 0 0 0 10px;
}
*/


@media screen and (max-width: 520px) {
    body.page-template-page-cmd-center .mw_center_logo,
    body.page-template-page-wicse-center .mw_center_logo{
		width: 100%;
    }
	.mw_arzu_menu_testimonial {
		margin-bottom:20px;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu {
		padding: 11px 0 8px 0;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu li {
		padding-right: 10px;
		margin: 0 3px 0 5px;
		font-size: 12px;
		line-height: 10px;
	}
	.mw_arzu_menu_testimonial .widget_nav_menu li:last-child {
		padding-right: 0;
		margin-left: 5px;
		margin-right: 5px;
	}
	body.page-template-page-wicse-center .mw_arzu_tag {
	    margin-top: 20px;	
	}
    .mwPastEvents {
    margin: 0 auto;
    margin-left: 0px!important;
    }
    .idrac_article_img {
    width: 100%!important;
    object-fit: cover;
    }
    .pressRelease {
    background-position: 38%!important;
    }
    body.page-template-page-cmd-center .mleft,
    body.page-template-page-cmd-center .mright,
	body.page-template-page-wicse-center .mleft,
	body.page-template-page-wicse-center .mright {
		width: 90% !important;
    	padding: 0 5%;
	}
	body.page-template-page-wicse-center .mright {
		
	}
    body.page-template-page-cmd-center .mleft h2, 
	body.page-template-page-wicse-center .mleft h2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.box_list {
		
	}
	.box_list h3 {
		font-size: 18px;
		line-height: 20px;
		padding-bottom: 8px;
	}
	.box_list .blist {
		margin: 3%;
    	width: 94%;
	}
	.box_list .blist > div {
		max-width: 67%;
	}
	.box_list .blist > div > p {
		margin-bottom:auto;
	}
	.box_list .blist:last-child {
		
	}
	#arzu_event,
	.contact,
	.map,
	#arzu_event_past {
		width: 90%;
    	padding: 5%;
	}
	.contact iframe {
		height:190px !important;
	}
	#arzu_event_past .row {
		width: 90%;
		margin-right: 0;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.mw_arzu_tag section p {
		margin-bottom: 5px;
	}
	.mw_arzu_tag section > div:last-child {
		margin-top:-30px 0 0 !important;
	}
    /*HA ARZU CSS 27june 2019*/
    .contact-cmd {
    	width: auto;
    }
    section#connected-cmd {
    width: auto;
    margin: 0 auto;
    }
    
}

@media screen and (max-width: 869px) {
body.page-template-page-cmd-center .mleft, body.page-template-page-wicse-center .mleft {
    text-align: center!important;
    margin: 0px auto!important;
    float: none!important;
}

body.page-template-page-cmd-center .mleft h2, body.page-template-page-wicse-center .mleft h2 {
    text-align: center!important;
}
body.page-template-page-cmd-center .mright, body.page-template-page-wicse-center .mright {
    float: none!important;
    margin: 0px auto!important;
    width: 100%!important;
    text-align: center!important;
}
.wicse_pbox {
    float: none!important;
    width: 95%!important;
    text-align: center!important;
	border: 0px!important;
}
.wicse_pbox img {
    border: 1px solid #7b5483!important;
    padding: 12px!important;
}
#arzu_event_past {
    width: 100%!important;
}
#connected {
    float: none!important;
    text-align: center!important;
}
.contact {
    width: 100%!important;
}
.map {
    float: none!important;
}
#arzu_event, .contact, .map, #arzu_event_past {
    width: 100%!important;
    padding: 0%!important;
}
body.page-template-page-cmd-center .mleft, body.page-template-page-cmd-center .mright, body.page-template-page-wicse-center .mleft, body.page-template-page-wicse-center .mright {
    width: 90% !important;
    padding: 0 5%!important;
}
#arzu_event_past h2 {
    text-align: center;
}
}

@media screen and (max-width: 682px) and (min-width: 602px) {
	.contact iframe {
		height: 450px!important;
	}

}

@media screen and (max-width: 531px) {
	.contact iframe {
		height: 250px!important;
	}
}

