@charset "utf-8";
/* Menu Styles */

/* Init Logic */
.menu-toggle-button {
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, 0.12); 
	cursor: pointer;
}
.menu-toggle-button {
	display: none;
}
.menu-toggle-button.active {
	border:none;
	color: #fff;
	background: #5c2568;
	text-shadow: none;
}
ul.menu-list {
	position: absolute;
	display: inline-table;
	padding: 0px;
	list-style: none;
	list-style-type: none;
	right: 0;
	margin-left: auto;
	text-align: center;
	background-color: #5c2568;
	width: 70%;
	max-width: 325px;
}
li#item-id {
	display: none;
}
ul.menu-list li {
	float: left;
	position: relative;
}
ul.menu-list li a {
	display: inline-block;
}
ul.menu-list li a {
	display: block;
}
/* Handling Submenu */
ul.menu-list ul {
	display: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 100%;
	left: 0%;
	list-style: none;
	z-index: 700
}
ul.menu-list ul li {
	position: relative;
	float: none;
	padding: 0px;
	margin: 0px;
}
ul.menu-list ul ul {
	position: absolute;
	top: 0%;
	left: 100%;
	z-index: 700
}
ul.menu-list li:hover>ul {
	display: inline-block;
}
/* End Init Logic */

/* Style */

ul.menu-list li:hover>ul {
background:#fff !ie;
} /* Fix for IE7 */
ul.menu-list {
	display: none;
}
/* Submenu Expand Icon */
ul.menu-list li.has-submenu>a>span.menu-expand {
	font-size: 0.6em;
	float: right;
	padding-left: 10px;
	line-height: 2.2em;
} /* All levels */
ul.menu-list li.has-submenu>a>span.menu-expand {
	float: none\9;
} /* Fix for IE9 and below */
ul.menu-list>li.has-submenu>a>span.menu-expand {
} /* Level 1 */
ul.menu-list>li.has-submenu>a>span.menu-expand:after {
	content: '\25BC'
} /* Level 1 */
ul.menu-list li li.has-submenu>a>span.menu-expand {
} /* Level 2 */
ul.menu-list li li.has-submenu>a>span.menu-expand:after {
	content: '\25BA'
} /* Level 2 */
/* You can manage with of elements by width of a-tag */
ul.menu-list li a {
	color: #333;
	text-decoration: none;
	padding: 5px;
} /* All levels */
ul.menu-list li>a {
} /* Level 1 */
ul.menu-list li li>a {
	width: 150px;
} /* Level 2 */
ul.menu-list li li li>a {
} /* Level 3 */
/* First Level*/
ul.menu-list>li {
	margin: 0px 5px 0px 0px;
	border: 1px solid #6d3e77;
}
ul.menu-list>li>a {
}
ul.menu-list>li:hover {
	background: #000
}
ul.menu-list>li:hover>a {
	color: #fff;
}
ul.menu-list>li>a:hover {
}
/* End First Level*/

/* Second Level*/
ul.menu-list>li>ul {
	border: 1px solid #000;
}
ul.menu-list>li>ul>li {
	background: #f7f7f7;
}
ul.menu-list>li>ul>li>a {
	text-align: left;
	padding-left: 38px;
}
ul.menu-list>li>ul>li:hover {
	background: #ddd;
}
ul.menu-list>li>ul>li:hover>a {
}
ul.menu-list>li>ul>li>a:hover {
}
/* End Second Level*/

/* Third Level*/
ul.menu-list>li>ul>li>ul {
	border: 1px solid #777;
}
ul.menu-list>li>ul>li>ul>li {
	background: #e7e7e7;
}
ul.menu-list>li>ul>li>ul>li>a {
}
ul.menu-list>li>ul>li>ul>li:hover {
	background: #ddd;
}
ul.menu-list>li>ul>li>ul>li:hover>a {
}
ul.menu-list>li>ul>li>ul>li>a:hover {
}
/* End Third Level*/

/* End Style */


/* End Menu Styles */
.menu-toggle-button {
	 background: #fff;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #5c2568;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
	text-align: center;
	height: 17px;
}

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 510px) {
	.menu-toggle-button {
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	ul.menu-list {
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 85%;
		width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	#header {
		z-index: 99999;
	}
/* Menu Styles */
	
/* Init Logic */
	.menu-toggle-button {
		display: block;
		width: auto;
		right: 0;
	}
	.menu-toggle-button i {
		visibility: visible;
	}
	.show-for-devices {
		display: block!important;
	}
	ul.menu-list {
		display: none;
	}
	ul.menu-list li {
		clear: both;
		float: none;
	}
	/* Handling Submenu */
	ul.menu-list ul {
		display: none;
		position: relative;
	}
	ul.menu-list ul li {
	}
	ul.menu-list ul ul {
		position: relative;
		top: 100%;
		left: 0%;
	}
	ul.menu-list li:hover>ul {
		display: none;
	}
	/* End Init Logic */

	/* Style */

	ul.menu-list li:hover>ul {
	background:#fff!ie;
	} /* Fix for IE7 */
	/* Submenu Expand Icon */
	ul.menu-list li.has-submenu>a>span.menu-expand {
		font-size: 0.6em;
		padding: 0.8em;
		line-height: 1em;
		position: absolute;
		right: 0;
		z-index: 700
	} /* All levels */
	ul.menu-list>li.has-submenu>a>span.menu-expand {
	} /* Level 1 */
	ul.menu-list li li.has-submenu>a>span.menu-expand {
	} /* Level 2 */
	ul.menu-list li li.has-submenu>a>span.menu-expand:after {
		content: '\25BC';
	} /* Level 2 */
	/* You can manage with of elements by width of a-tag */
	ul.menu-list li a {
		color: #333;
		position: relative
	} /* All levels */
	ul.menu-list li>a {
	} /* Level 1 */
	ul.menu-list li li>a {
		width: auto;
	} /* Level 2 */
	ul.menu-list li li li>a {
	} /* Level 3 */
	/* First Level*/
	ul.menu-list>li {
		border: none;
		display: block;
		padding: 1px 0;
		margin: 0 5px;
		border-bottom: solid 1px #6d3e77;
		position: relative;
	}
	ul.menu-list>li.menu-item-has-children:after, ul.menu-list>li.menu-item-has-children:before {
	    content: '';
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 7px solid #34153b;
		position: absolute;
		right: 8px;
		top: 18px;
		z-index: 99;
	}
	ul.menu-list>li.menu-item-has-children:after {
		border: 0;
	    width: 50%;
	    height: 100%;
		top: 0;
		right: -30px;
		z-index: 999;
	}
	ul.menu-list>li>a {
		display: block;
		color: white;
		padding: 10px 30px 10px 10px;
		text-decoration: none;
		font-size: 15px;
		text-align: left;
	}
	ul.menu-list>li:hover {
	}
	ul.menu-list>li:hover>a {
		background-color: #F5F5F5;
		color: #000
	}
	ul.menu-list>li>a:hover {
	}
	/* End First Level*/

	/* Second Level*/
	ul.menu-list>li>ul {
		border: none;
	}
	ul.menu-list>li>ul>li {
		padding-left: 5px;
	}
	ul.menu-list>li>ul>li.menu-item-has-children:before, ul.menu-list>li>ul>li.menu-item-has-children:after {
		content: '';
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 7px solid #34153b;
		position: absolute;
		right: 8px;
		top: 13px;
		z-index: 1;
	}
	ul.menu-list>li>ul>li.menu-item-has-children:after {
		width: 25%;
		border: none;
		top: 0;
		right: -30px;
		height: 100%;
		z-index: 999;
	}
	ul.menu-list>li>ul>li>a {
		text-align: left;
		padding-left: 10px;
		font-size: 12px;
	}
	ul.menu-list>li>ul>li:hover {
		background: #ddd;
	}
	ul.menu-list>li>ul>li:hover>a {
	}
	ul.menu-list>li>ul>li>a:hover {
	}
	/* End Second Level*/

	/* Third Level*/
	ul.menu-list>li>ul>li>ul {
		border: none;
	}
	ul.menu-list>li>ul>li>ul>li {
		padding-left: 5px;
	}
	ul.menu-list>li>ul>li>ul>li>a {
		text-align: left;
		font-size: 12px;
		padding-left: 10px;
	}
	ul.menu-list>li>ul>li>ul>li:hover {
		background: #ddd;
	}
	ul.menu-list>li>ul>li>ul>li:hover>a {
	}
	ul.menu-list>li>ul>li>ul>li>a:hover {
	}
/* End Third Level*/

/* End Style */


/* End Menu Styles */

}/* CSS Document */
